In [1]:
import sys
sys.path.append("../")

import pandas as pd
import os
import re
import numpy as np
from library import tables

In [2]:
data_path = '/Users/kylieleblancKylie/domino/dofis/data/'
table_path = '/Users/kylieleblancKylie/domino/dofis/results/descriptive/'
data = pd.read_csv(os.path.join(data_path, 'clean', 'master_data.csv'))
data = data[data.year == 'yr1718']

/Users/kylieleblancKylie/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Student Characteristics

Total students

In [10]:
students_total = data['students_num'].sum()
print(students_total)

5343834

## By geography

In [11]:
geography_order = {'Urban': 1,
                   'Suburban': 2,
                   'Town': 3,
                   'Rural': 4}

In [12]:
students_geography = pd.DataFrame(data.groupby(['geography'])['students_num'].sum()).reset_index()
students_geography['Proportion'] = students_geography['students_num']/students_total
students_geography['order'] = students_geography['geography'].map(geography_order)
students_geography = students_geography.sort_values('order', axis = 0)
students_geography = students_geography.drop('order', axis = 1)
students_geography

  geography  students_num  Proportion
3     Urban       2030976    0.380060
1  Suburban       2531779    0.473776
2      Town        579651    0.108471
0     Rural        201428    0.037694

## By demographics

In [13]:
demographics = ['students_hisp_num', 'students_white_num', 'students_black_num']
number = []
proportion = []
for dem in demographics:
    number.append(data[dem].sum())
    proportion.append(data[dem].sum()/students_total)
students_demographics = pd.DataFrame(
                            {'Demographics': demographics,
                             'Number': number,
                             'Proportion': proportion
                            })
students_demographics

         Demographics   Number  Proportion
0   students_hisp_num  2802180    0.524376
1  students_white_num  1499559    0.280615
2  students_black_num   673291    0.125994

## By school

In [14]:
school_order = {'doi': 1,
                'tps': 2,
                'charter': 3}

In [15]:
students_schools = pd.DataFrame(data.groupby(['district_status'])['students_num'].sum()).reset_index()
students_schools['Proportion'] = students_schools['students_num']/students_total
students_schools['order'] = students_schools['district_status'].map(school_order)
students_schools = students_schools.sort_values('order', axis = 0)
students_schools = students_schools.drop('order', axis = 1)
students_schools

  district_status  students_num  Proportion
1             doi       3832308    0.717146
2             tps       1238841    0.231826
0         charter        272685    0.051028

# To Tables

In [16]:
dfs = [students_geography, students_demographics, students_schools]
rows = [4, 9, 13]
for df, row in zip(dfs,rows):
    tables.df_to_excel(file = table_path + 'desc_students.xlsx',
                      df = df,
                      df_columns = ['Proportion'],
                      start_row = row,
                      start_col = 2)