In [1]:
import sys
sys.path.append("../")

import pandas as pd
import os
import statsmodels.formula.api as sm

from library import regulations
from library import characteristics
from library import analysis
from library import tables

In [2]:
data_path = '/Users/kylieleblancKylie/domino/dofis/data/'
table_path = '/Users/kylieleblancKylie/domino/dofis/results/descriptive/'
data = pd.read_csv(os.path.join(data_path, 'clean', 'master_data.csv'),
                  sep=",")

/Users/kylieleblancKylie/anaconda/envs/spacy/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Just keep eligible districts from 2014-15

In [3]:
data = data[data.year == 'yr1415']
data = data[data.eligible == 1]

Some basic descriptives

In [4]:
num_dois = len(data[data.doi == 1])
num_tps = len(data[data.doi == 0])
print(str(len(data)) + ' eligible districts, ' + str(num_dois), 'are DOIs and ' + str(num_tps) + ' have opted  out.')

973 eligible districts, 762 are DOIs and 211 have opted  out.

## District Characteristics

In [5]:
# Traditional public schools versus DOI
district = analysis.many_y_one_x(data = data, 
                                 y_list = characteristics.geography,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
district
# note, I don't have the geographic characteristics of charter schools

  Characteristic  Control  Difference  Std. Error  P-value
0          Urban     0.06       -0.01        0.02     0.50
1       Suburban     0.25       -0.00        0.03     0.98
2           Town     0.24        0.05        0.03     0.16
3          Rural     0.45       -0.04        0.04     0.35

## Teacher Characteristics

In [6]:
teacher = analysis.many_y_one_x(data = data, 
                                 y_list = characteristics.teacher,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
teacher

                Characteristic  Control  Difference  Std. Error  P-value
0  Ave. Experience in District    12.13        0.40        0.19     0.03
1     Ave. Experience Teaching     7.31        0.07        0.15     0.63
2       Teacher Turnover Ratio    20.00       -1.16        0.68     0.09
3        Student-Teacher Ratio     6.41        0.30        0.09     0.00

## Student Characteristics

In [7]:
student = analysis.many_y_one_x(data = data, 
                                 y_list = characteristics.student,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
student

                     Characteristic  Control  Difference  Std. Error  P-value
0                  Percent Hispanic     0.51       -0.16        0.02     0.00
1                     Percent White     0.41        0.13        0.02     0.00
2                     Percent Black     0.05        0.02        0.01     0.04
3       Percent Econ. Disadvantaged     0.62       -0.08        0.01     0.00
4  Average STAAR Performance (Std.)    -0.13        0.29        0.05     0.00

## To table

In [8]:
dfs = [district, teacher, student]
rows = [6, 15, 24]
tables.n_to_excel(file = table_path + 'DOI v. TPS.xlsx',
                 col = 2, row = 4, n = len(data[data.doi == 0]))
tables.n_to_excel(file = table_path + 'DOI v. TPS.xlsx',
                 col = 3, row = 4, n = len(data[data.doi == 1]))
for df, row in zip(dfs,rows):
    tables.var_diff_to_excel(file = table_path + 'DOI v. TPS.xlsx', 
                             df = df, 
                             control_col = 'Control', 
                             diff_col = 'Difference', 
                             se_col = 'Std. Error', pvalue_col = 'P-value',
                             start_col = 2, start_row = row)