In [48]:
import sys
sys.path.append("../")

import pandas as pd
import os
import numpy as np
from library import tables
from library import analysis

In [49]:
data_path = '/Users/kylieleblancKylie/domino/dofis/data/'
table_path = '/Users/kylieleblancKylie/domino/dofis/results/descriptive/'
data = pd.read_csv(os.path.join(data_path, 'clean', 'master_data.csv'))
data = data[data.year == 'yr1617']

/Users/kylieleblancKylie/anaconda/envs/spacy/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,8,416) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
nonexempt = data[data['reg21_003']==False]
exempt = data[data['reg21_003']==True]

In [51]:
analysis.two_means_by_exemptions(data, 'reg21_003', 
                                 var_list = ['type_urban', 'type_suburban', 'type_town', 'type_rural'])

        variable  nonexempt  exempt pvalue
0     type_urban       0.06    0.04
1  type_suburban       0.30    0.22      *
2      type_town       0.24    0.28
3     type_rural       0.40    0.45

# Certification

In [52]:
variables = ['type_urban', 'type_suburban', 'type_town', 'type_rural']
df_geo = analysis.two_means_by_exemptions(data, 'reg21_003', 
                                 var_list = variables)
print(df_geo)
variables = ['teachers_tenure_ave', 'teachers_turnover_ratio']
df_teachers = analysis.two_means_by_exemptions(data, 'reg21_003', 
                                 var_list = variables)
print(df_teachers)
variables = ['students_hisp', 'students_frpl', 'avescores']
df_students = analysis.two_means_by_exemptions(data, 'reg21_003', 
                                 var_list = variables)
print(df_students)

        variable  nonexempt  exempt pvalue
0     type_urban       0.06    0.04
1  type_suburban       0.30    0.22      *
2      type_town       0.24    0.28
3     type_rural       0.40    0.45
                  variable  nonexempt  exempt pvalue
0      teachers_tenure_ave       7.35    6.99      *
1  teachers_turnover_ratio       0.18    0.19      *
        variable  nonexempt  exempt pvalue
0  students_hisp       0.39    0.35      +
1  students_frpl       0.56    0.56
2      avescores       0.33    0.29

In [53]:
dfs = [df_geo, df_teachers, df_students]
rows = [6,11,14]
for df,row in zip(dfs, rows):
    tables.df_to_excel(file = table_path + 'means_certification.xlsx',
                   df = df, df_columns = ['nonexempt', 'exempt', 'pvalue'], 
                   start_row = row, start_col = 2, all_ints = False)
tables.n_to_excel(file = table_path + 'means_certification.xlsx', col = 2, row = 4, n = len(nonexempt))
tables.n_to_excel(file = table_path + 'means_certification.xlsx', col = 3, row = 4, n = len(exempt))

# Probation

In [54]:
variables = ['type_urban', 'type_suburban', 'type_town', 'type_rural']
df_geo = analysis.two_means_by_exemptions(data, 'reg21_102', 
                                 var_list = variables)
print(df_geo)
variables = ['teachers_tenure_ave', 'teachers_turnover_ratio']
df_teachers = analysis.two_means_by_exemptions(data, 'reg21_102', 
                                 var_list = variables)
print(df_teachers)
variables = ['students_hisp', 'students_frpl', 'avescores']
df_students = analysis.two_means_by_exemptions(data, 'reg21_102', 
                                 var_list = variables)
print(df_students)

        variable  nonexempt  exempt pvalue
0     type_urban       0.07    0.01    ***
1  type_suburban       0.27    0.20      *
2      type_town       0.25    0.30      +
3     type_rural       0.41    0.49      *
                  variable  nonexempt  exempt pvalue
0      teachers_tenure_ave       7.14    7.00
1  teachers_turnover_ratio       0.19    0.19
        variable  nonexempt  exempt pvalue
0  students_hisp       0.38    0.33      *
1  students_frpl       0.56    0.56
2      avescores       0.31    0.29

In [55]:
dfs = [df_geo, df_teachers, df_students]
rows = [6,11,14]
for df,row in zip(dfs, rows):
    tables.df_to_excel(file = table_path + 'means_probation.xlsx',
                   df = df, df_columns = ['nonexempt', 'exempt', 'pvalue'], 
                   start_row = row, start_col = 2, all_ints = False)
tables.n_to_excel(file = table_path + 'means_probation.xlsx', col = 2, row = 4, n = len(nonexempt))
tables.n_to_excel(file = table_path + 'means_probation.xlsx', col = 3, row = 4, n = len(exempt))

# Service Days

In [56]:
variables = ['type_urban', 'type_suburban', 'type_town', 'type_rural']
df_geo = analysis.two_means_by_exemptions(data, 'reg21_401', 
                                 var_list = variables)
print(df_geo)
variables = ['teachers_tenure_ave', 'teachers_turnover_ratio']
df_teachers = analysis.two_means_by_exemptions(data, 'reg21_401', 
                                 var_list = variables)
print(df_teachers)
variables = ['students_hisp', 'students_frpl', 'avescores']
df_students = analysis.two_means_by_exemptions(data, 'reg21_401', 
                                 var_list = variables)
print(df_students)

        variable  nonexempt  exempt pvalue
0     type_urban       0.07    0.01    ***
1  type_suburban       0.31    0.11    ***
2      type_town       0.30    0.21     **
3     type_rural       0.32    0.67    ***
                  variable  nonexempt  exempt pvalue
0      teachers_tenure_ave       7.15    6.95
1  teachers_turnover_ratio       0.18    0.20     **
        variable  nonexempt  exempt pvalue
0  students_hisp       0.37    0.35
1  students_frpl       0.55    0.58
2      avescores       0.33    0.23      +

In [57]:
dfs = [df_geo, df_teachers, df_students]
rows = [6,11,14]
for df,row in zip(dfs, rows):
    tables.df_to_excel(file = table_path + 'means_service.xlsx',
                   df = df, df_columns = ['nonexempt', 'exempt', 'pvalue'], 
                   start_row = row, start_col = 2, all_ints = False)
tables.n_to_excel(file = table_path + 'means_service.xlsx', col = 2, row = 4, n = len(nonexempt))
tables.n_to_excel(file = table_path + 'means_service.xlsx', col = 3, row = 4, n = len(exempt))