In [1]:
import pandas as pd
import os
data_path = '/Users/kylieleblancKylie/domino/dofis/data/'
year = 'yr1718'

In [2]:
teachers = pd.read_csv(os.path.join(data_path, 'tea', 'teachers', 
                                    'teachers_yr1718.csv'))
teachers.sample(5)

,campus,certification,cert_area_elem,cert_secondary_math,cert_secondary_ela,cert_secondary_sci,vocational,cert_area_voc,_merge,certification_report,year
8268,235902105,0.972222,0.826087,NaN,NaN,NaN,NaN,NaN,left_only,0.972222,2018
6038,152907700,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,left_only,1.000000,2018
1672,46901106,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,left_only,1.000000,2018
6146,161903102,1.000000,0.888889,NaN,NaN,NaN,NaN,NaN,left_only,1.000000,2018
4665,101917042,0.980769,NaN,NaN,NaN,NaN,NaN,NaN,left_only,0.980769,2018

In [17]:
teachers.certification.mean()

0.9921825730266536

In [18]:
teachers.certification_report.mean()

0.9921825730266536

In [3]:
teachers[teachers.certification_report == 1].cert_area_elem.mean()

0.8784210513833878

In [21]:
teachers[teachers.certification_report == 1].cert_secondary_math.mean()

0.7331798430638083

In [ ]:
teachers[]