In [1]:
import sys
sys.path.append("../")

import pandas as pd
import os
import re
import numpy as np
from library import tables

In [3]:
data_path = '/Users/kylieleblancKylie/domino/dofis/data/'
table_path = '/Users/kylieleblancKylie/domino/dofis/results/descriptive/'
data = pd.read_csv(os.path.join(data_path, 'clean', 'master_data.csv'))
data = data[data.year == 2018]
data.head()

/Users/kylieleblancKylie/anaconda/envs/spacy/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,year,campus,campname,campischarter,district,distname,distischarter,rating_academic,rating_financial,...,charter,district_status,type_urban,type_suburban,type_town,type_rural,teachers_nodegree,teachers_badegree,teachers_msdegree,teachers_phddegree
51734,51734,2018,1902001,CAYUGA H S,N,1902,CAYUGA ISD,N,B,Pass,...,False,doi,0,0,0,1,0.0,0.907514,0.092486,0.0
51735,51735,2018,1902041,CAYUGA MIDDLE,N,1902,CAYUGA ISD,N,B,Pass,...,False,doi,0,0,0,1,0.0,0.855072,0.137681,0.0
51736,51736,2018,1902103,CAYUGA EL,N,1902,CAYUGA ISD,N,B,Pass,...,False,doi,0,0,0,1,0.0,1.000000,0.000000,0.0
51737,51737,2018,1903001,ELKHART H S,N,1903,ELKHART ISD,N,B,Pass,...,False,doi,0,0,1,0,0.0,0.702703,0.297297,0.0
51738,51738,2018,1903041,ELKHART MIDDLE,N,1903,ELKHART ISD,N,B,Pass,...,False,doi,0,0,1,0,0.0,0.905579,0.090129,0.0

In [4]:
# School Characteristics

In [6]:
print('There are', data.campus.nunique(), 'schools in Texas.')
print('Of these,', data[data.campischarter == 'Y'].campus.nunique(), 'are charters.')
print('Of traditional public schools only', 
      data[data.campischarter == 'N'][data.eligible == 0].schools_num.sum(axis = 0), 
      'are ineligible for DOI status.')
print(len(data[data.doi == True].sum(axis = 0)), 'districts are districts of innovation.')

There are 8755 schools in Texas.

AttributeError: 'DataFrame' object has no attribute 'schools_num'