In [8]:
import pandas as pd
import os
from openpyxl import load_workbook

data_path = '/Users/kylieleblancKylie/domino/dofis/data/clean'
table_path = '/Users/kylieleblancKylie/domino/dofis/results/Who Needs Rules/'

In [9]:
data_path

'/Users/kylieleblancKylie/domino/dofis/data/clean'

In [10]:
data = pd.read_csv((os.path.join(data_path, 'master_data_district.csv')))
data

/Users/kylieleblancKylie/anaconda/envs/spacy/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,year,district,distname,distischarter,rating_academic,rating_financial,type,type_description,cntyname,...,yearpost,yearpre,pre5,pre4,pre3,pre2,pre1,post1,post2,post3
0,0,2012,1902,CAYUGA ISD,N,NaN,NaN,H,RURAL,ANDERSON,...,0.0,-5.0,1,0,0,0,0,0,0,0
1,1,2012,1903,ELKHART ISD,N,NaN,NaN,G,NON-METROPOLITAN STABLE,ANDERSON,...,0.0,-5.0,1,0,0,0,0,0,0,0
2,2,2012,1904,FRANKSTON ISD,N,NaN,NaN,H,RURAL,ANDERSON,...,0.0,-5.0,1,0,0,0,0,0,0,0
3,3,2012,1906,NECHES ISD,N,NaN,NaN,H,RURAL,ANDERSON,...,0.0,-5.0,1,0,0,0,0,0,0,0
4,4,2012,1907,PALESTINE ISD,N,NaN,NaN,E,INDEPENDENT TOWN,ANDERSON,...,0.0,-5.0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8506,8506,2018,252902,NEWCASTLE ISD,N,Met Standard,Pass,H,RURAL,YOUNG,...,0.0,0.0,0,0,0,0,0,1,0,0
8507,8507,2018,252903,OLNEY ISD,N,A,Pass,H,RURAL,YOUNG,...,1.0,0.0,0,0,0,0,0,0,1,0
8508,8508,2018,253901,ZAPATA COUNTY ISD,N,B,Pass,D,OTHER CENTRAL CITY SUBURBAN,ZAPATA,...,0.0,-1.0,0,0,0,0,1,0,0,0
8509,8509,2018,254901,CRYSTAL CITY ISD,N,C,Pass,G,NON-METROPOLITAN STABLE,ZAVALA,...,0.0,0.0,0,0,0,0,0,0,0,0
8510,8510,2018,254902,LA PRYOR ISD,N,C,Pass,H,RURAL,ZAVALA,...,0.0,-1.0,0,0,0,0,1,0,0,0

In [11]:
stubnames = sorted(
    set([match[0] for match in data.columns.str.findall(
    r'reg.*').values if match != [] ])
    )

proportion = []
number = []
for reg in stubnames:
    proportion.append(data[reg].mean())
    number.append(data[reg].sum())

regs = pd.DataFrame(
    {'law': stubnames,
     'proportion': proportion,
     'number': number
    }).sort_values(by = ['proportion'], ascending = False)
regs.head(15)

            law  proportion  number
90   reg25_0811    0.970788  5583.0
19    reg21_003    0.868545  4995.0
43    reg21_102    0.509650  2931.0
104   reg25_112    0.441662  2540.0
89    reg25_081    0.433316  2492.0
105   reg25_113    0.363763  2092.0
60    reg21_401    0.352982  2030.0
38    reg21_057    0.329508  1895.0
35    reg21_053    0.291775  1678.0
91   reg25_0812    0.281168  1617.0
99    reg25_092    0.260476  1498.0
92    reg25_082    0.253173  1456.0
139  reg37_0012    0.216658  1246.0
85    reg25_036    0.216658  1246.0
53    reg21_352    0.201878  1161.0

In [12]:
from openpyxl import load_workbook

def df_to_excel(file, df, df_columns, start_col, start_row, all_ints = True):
    wb = load_workbook(file)
    ws = wb.active

    col_n = start_col
    for col in df_columns:
        row_n = start_row
        for ob in df[col]:
            ws.cell(row=row_n, column=col_n).value = ob
            row_n = row_n + 1
        col_n = col_n + 1
    wb.save(file)

In [13]:
df_to_excel(file = os.path.join(table_path, 'table1_exemptions.xlsx'),
            df = regs, df_columns = ['law', 'proportion'],
            start_col = 4, start_row = 3)