In [31]:
import pandas as pd
import os
import fnmatch
import numpy as np
from library import start
from library import clean_tea

In [32]:
start.data_path

'/Users/kylieleblancKylie/domino/dofis/data/'

In [33]:
year = 'yr1718'

# Certifications

In [34]:
folder = 'certification_' + year + '/'
teacher_datapath = os.path.join(start.data_path, 'tea', 'teachers', folder)

pattern = "CERTIFICATION*.csv"
if year == 'yr1213' or year == 'yr1314':
    pattern = "CERTIFICATION*.TXT"
cert_files = []
for entry in os.listdir(teacher_datapath):
    if fnmatch.fnmatch(entry, pattern):
        cert_files.append(entry)
cert_files.sort()
dirs_cert = [teacher_datapath + file for file in cert_files]
df_list = [pd.read_csv(file, sep=",", encoding="ISO-8859-1", dtype=object) for file in dirs_cert]
certification = pd.concat(df_list)
certification.head()

,PERSONID_SCRAM,DISTRICT,REGION,CERTIFICATE_ID_NUMBER,CERTIFICATE_LIFE,CREDENTIAL_TYPE,CERTIFICATE_PREPARATION_ROUTE,CERTIFICATE_EFFECTIVE_DATE,CERTIFICATE_EXPIRATION_DATE,SUBJECT_AREA,...,CERTIFICATION_LEVEL,ROLE_CREDENTIALED_FOR,POPULATION_CREDENTIALED_FOR,PREPARATION_PROGRAM,EMAIL_ADDRESS,MAILING_ADDRESS,CITY,ST,ZIP_CD,PHONE
0,*30*5P341,031901,01,2021478,LIFE,Paraprofessional,Paraprofessional Program,06OCT1994:00:00:00,NaN,Other,...,Not Applicable,Educational Aide,Not Applicable,BROWNSVILLE ISD,nagandara@bisd.us,1413 MISSION BEND,Brownsville,TX,78526,9563723966
1,*30*5P341,031901,01,2502767,SYR,Emergency Non-Certified,Permit Program,09JAN2002:00:00:00,31AUG2002:00:00:00,Special Education,...,Special Education,Teacher,Special Education,BROWNSVILLE ISD,nagandara@bisd.us,1413 MISSION BEND,Brownsville,TX,78526,9563723966
2,*30*5P341,031901,01,2595245,1YR,Probationary,Alternative Program,21AUG2002:00:00:00,21AUG2003:00:00:00,Special Education,...,Special Education,Teacher,Special Education,REG I EDUCATION SERVICE CENTER,nagandara@bisd.us,1413 MISSION BEND,Brownsville,TX,78526,9563723966
3,*30*5P341,031901,01,2744684,1YR,Probationary Extension,Alternative Program,31AUG2003:00:00:00,31AUG2004:00:00:00,Special Education,...,Special Education,Teacher,Special Education,REG I EDUCATION SERVICE CENTER,nagandara@bisd.us,1413 MISSION BEND,Brownsville,TX,78526,9563723966
4,*30*5P341,031901,01,2922393,5YR,Standard,Alternative Program,02APR2005:00:00:00,31OCT2010:00:00:00,Special Education,...,Special Education,Teacher,Regular Students,REG I EDUCATION SERVICE CENTER,nagandara@bisd.us,1413 MISSION BEND,Brownsville,TX,78526,9563723966

In [35]:
vars_to_keep = {'PERSONID_SCRAM': 'teacher_id', 'DISTRICT': 'district',
                'CREDENTIAL_TYPE': 'cert_type', 'CERTIFICATE_PREPARATION_ROUTE': 'cert_route',
                'CERTIFICATION_LEVEL': 'cert_level', 'CREDENTIALED_GRADES': 'cert_grades',
                'SUBJECT_AREA': 'cert_area', 'SUBJECT': 'cert_subject'}
certification = clean_tea.filter_and_rename_cols(certification, vars_to_keep)
certification.head()

In [36]:
cert_types = {'Emergency Non-Certified': False, 'Emergency Certified': False, 
              'Emergency': False, 'Emergency Teaching': False,
              'Temporary Exemption': False, 'Temporary Teaching Certificate': False,
              'Unknown Permit': False, 'Unknown': False,
              'Special Assignment': False,
              'Paraprofessional': False, 'Standard Paraprofessional': False,
              'Standard': True, 'Provisional': True,
              'Probationary': True, 'Probationary Extension': True, 'Probationary Second Extension': True,
              'Non-renewable': True, 'One Year': True,
              'Visiting International Teacher': True,
              'Professional': True, 'Standard Professional':True}
certification['certification'] = certification['cert_type'].map(cert_types)
certification['vocational'] = np.where((certification['cert_type'] == "Vocational"), True, False)
certification.head()

,teacher_id,district,cert_type,cert_route,cert_level,cert_grades,cert_area,cert_subject,certification,vocational
0,*30*5P341,031901,Paraprofessional,Paraprofessional Program,Not Applicable,NaN,Other,Not Applicable,False,False
1,*30*5P341,031901,Emergency Non-Certified,Permit Program,Special Education,Grades PK-12,Special Education,Generic Special Education,False,False
2,*30*5P341,031901,Probationary,Alternative Program,Special Education,Grades PK-12,Special Education,Generic Special Education,True,False
3,*30*5P341,031901,Probationary Extension,Alternative Program,Special Education,Grades PK-12,Special Education,Generic Special Education,True,False
4,*30*5P341,031901,Standard,Alternative Program,Special Education,Grades EC-12,Special Education,Generic Special Education,True,False

In [37]:
grades_elem = {'Grades EC-4': True, 'Grades EC-6': True,'Grades EC-12': True,
               'Grades PK-KG': True, 'Grades PK-3': True, 'Grades PK-5': True,'Grades PK-12': True,
               'Grades 1-8': True,'Grades 1-6': True,
               'Grades 4-8': True,
               'Grades 6-8': False,'Grades 6-10': False, 'Grades 6-12': False,
               'Grades 7-12': False,
               'Grades 8-12': False}
grades_middle = {'Grades EC-4': False, 'Grades EC-6': True,'Grades EC-12': True,
               'Grades PK-KG': False, 'Grades PK-3': False, 'Grades PK-5': False,'Grades PK-12': True,
               'Grades 1-8': True,'Grades 1-6': True,
               'Grades 4-8': True,
               'Grades 6-8': True,'Grades 6-10': True, 'Grades 6-12': True,
               'Grades 7-12': True,
               'Grades 8-12': True}
grades_high = {'Grades EC-4': False, 'Grades EC-6': False,'Grades EC-12': True,
               'Grades PK-KG': False, 'Grades PK-3': False, 'Grades PK-5': False,'Grades PK-12': True,
               'Grades 1-8': False,'Grades 1-6': False,
               'Grades 4-8': False,
               'Grades 6-8': False,'Grades 6-10': True, 'Grades 6-12': True,
               'Grades 7-12': True,
               'Grades 8-12': True}
certification['cert_elem'] = certification['cert_grades'].map(grades_elem)
certification['cert_elem'] = np.where((certification.certification == False), False, certification.cert_elem) #TODO code review

certification['cert_middle'] = certification['cert_grades'].map(grades_middle)
certification['cert_middle'] = np.where((certification.certification == False), False, certification.cert_middle)

certification['cert_high'] = certification['cert_grades'].map(grades_high)
certification['cert_high'] = np.where((certification.certification == False), False, certification.cert_high)

certification.head()

,teacher_id,district,cert_type,cert_route,cert_level,cert_grades,cert_area,cert_subject,certification,vocational,cert_elem,cert_middle,cert_high
0,*30*5P341,031901,Paraprofessional,Paraprofessional Program,Not Applicable,NaN,Other,Not Applicable,False,False,False,False,False
1,*30*5P341,031901,Emergency Non-Certified,Permit Program,Special Education,Grades PK-12,Special Education,Generic Special Education,False,False,False,False,False
2,*30*5P341,031901,Probationary,Alternative Program,Special Education,Grades PK-12,Special Education,Generic Special Education,True,False,True,True,True
3,*30*5P341,031901,Probationary Extension,Alternative Program,Special Education,Grades PK-12,Special Education,Generic Special Education,True,False,True,True,True
4,*30*5P341,031901,Standard,Alternative Program,Special Education,Grades EC-12,Special Education,Generic Special Education,True,False,True,True,True

In [38]:
certification['cert_area_elem'] = np.where(certification['cert_area'] == "General Elementary (Self-Contained)", True, False)
certification['cert_area_ela'] = np.where(certification['cert_area'] == "English Language Arts", True, False)
certification['cert_area_math'] = np.where(certification['cert_area'] == "Mathematics", True, False)
certification['cert_area_sci'] = np.where(certification['cert_area'] == "Science", True, False)
certification.head()

,teacher_id,district,cert_type,cert_route,cert_level,cert_grades,cert_area,cert_subject,certification,vocational,cert_elem,cert_middle,cert_high,cert_area_elem,cert_area_ela,cert_area_math,cert_area_sci
0,*30*5P341,031901,Paraprofessional,Paraprofessional Program,Not Applicable,NaN,Other,Not Applicable,False,False,False,False,False,False,False,False,False
1,*30*5P341,031901,Emergency Non-Certified,Permit Program,Special Education,Grades PK-12,Special Education,Generic Special Education,False,False,False,False,False,False,False,False,False
2,*30*5P341,031901,Probationary,Alternative Program,Special Education,Grades PK-12,Special Education,Generic Special Education,True,False,True,True,True,False,False,False,False
3,*30*5P341,031901,Probationary Extension,Alternative Program,Special Education,Grades PK-12,Special Education,Generic Special Education,True,False,True,True,True,False,False,False,False
4,*30*5P341,031901,Standard,Alternative Program,Special Education,Grades EC-12,Special Education,Generic Special Education,True,False,True,True,True,False,False,False,False

In [42]:
certification = certification[['teacher_id', 'district', 'cert_level', 'cert_area', 'certification', 'vocational', 
                                 'cert_elem', 'cert_middle', 'cert_high',
                                 'cert_area_elem', 'cert_area_ela', 'cert_area_math', 'cert_area_sci']]
certification.sample(n=10)

,teacher_id,district,certification,vocational,cert_level,cert_area,cert_elem,cert_middle,cert_high,cert_area_elem,cert_area_ela,cert_area_math,cert_area_sci
73571,P34QVL534,115901,True,False,Special Education,Special Education,True,True,True,False,False,False,False
75416,13815*248,167901,True,False,Elementary,Mathematics,True,True,False,False,False,True,False
119780,P3131P440,015915,True,False,Elementary,General Elementary (Self-Contained),True,True,False,True,False,False,False
327928,V34*1F*43,101912,True,False,Endorsement,Bilingual Education,NaN,NaN,NaN,False,False,False,False
63364,03QVQ*548,170906,True,False,All Level,Vocational Education,True,True,True,False,False,False,False
33521,03Q021346,050902,True,False,Professional Service,Professional,True,True,True,False,False,False,False
435644,135501P34,101917,True,False,Secondary,English Language Arts,False,True,True,False,True,False,False
433130,03813*538,101917,False,False,Not Applicable,Other,False,False,False,False,False,False,False
18691,V365QV*38,026902,True,False,Supplemental,Bilingual Education,NaN,NaN,NaN,False,False,False,False
3293,13652Y147,067902,True,False,Secondary,Health and Physical Education,False,True,True,False,False,False,False

## Sort and to csv

In [54]:
certification.sort_values(by = ['teacher_id'], axis = 0)
filename = 'certs_' + year + '.csv'
certification.to_csv(os.path.join(start.data_path, 'tea', 'teachers', filename))

## Collapse to teacher level

In [60]:
teacher_cert = certification[['teacher_id', 'district', 'certification', 'vocational', 
                                 'cert_elem', 'cert_middle', 'cert_high',
                                 'cert_area_elem', 'cert_area_ela', 'cert_area_math', 'cert_area_sci']]
teacher_cert.groupby(['teacher_id', 'district']).max()
teacher_cert.sample(n = 15)

,,certification,vocational,cert_elem,cert_middle,cert_high,cert_area_elem,cert_area_ela,cert_area_math,cert_area_sci
teacher_id,district,,,,,,,,,
*30*0**45,101902,False,False,False,False,False,False,False,False,False
*30*0*045,057912,True,False,True,True,True,True,True,False,False
*30*00034,061902,True,False,True,True,True,True,False,True,False
*30*01145,066005,False,False,False,False,False,False,False,False,False
*30*0F443,101903,True,False,NaN,NaN,NaN,False,False,False,False
*30*0F446,108904,False,False,False,False,False,False,False,False,False
*30*0FQ45,056901,False,False,False,False,False,False,False,False,False
*30*0LP36,015910,True,False,True,True,False,True,False,False,False
*30*0V243,182903,False,False,False,False,False,False,False,False,False
*30*1*440,207901,False,False,False,False,False,False,False,False,False
*30*1*Q47,126903,True,False,False,True,True,False,False,False,False
*30*10*41,226907,False,False,False,False,False,False,False,False,False
*30*10031,043914,True,False,True,True,False,False,False,False,False
*30*11241,071905,True,False,True,True,True,True,False,False,False
*30*11245,227904,True,False,True,True,True,True,True,False,False
*30*11346,046902,False,False,False,False,False,False,False,False,False
*30*1F241,014909,False,False,False,False,False,False,False,False,False
*30*1FV49,108902,True,False,True,True,False,True,True,False,False
*30*1LP36,015910,True,False,True,True,False,True,False,False,False
*30*1P040,108904,False,False,False,False,False,False,False,False,False
*30*1P341,252901,False,False,False,False,False,False,False,False,False
*30*1Q538,227901,True,False,True,True,True,False,False,False,False
*30*1QQ41,168903,False,False,False,False,False,False,False,False,False
*30*1Y*45,101917,False,False,False,False,False,False,False,False,False
*30*2**40,214901,True,False,True,True,False,True,False,False,False
*30*20149,220907,True,False,True,True,True,True,False,False,False
*30*20P46,137901,False,False,False,False,False,False,False,False,False
*30*21547,071904,False,False,False,False,False,False,False,False,False
*30*2D*49,214901,False,False,False,False,False,False,False,False,False
*30*2F040,014909,True,False,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Y3QVVP031,061902,False,False,False,False,False,False,False,False,False
Y3QVVP042,220918,True,False,False,True,True,False,True,False,False
Y3QVVP137,057922,True,False,True,True,True,True,False,False,False
Y3QVVP139,043905,True,False,True,True,False,True,False,False,False
Y3QVVP238,101902,True,False,True,True,True,False,False,False,False
Y3QVVP247,220901,False,False,False,False,False,False,False,False,False
Y3QVVP343,057911,True,False,True,True,True,True,False,False,False
Y3QVVP431,074903,True,False,True,True,True,False,True,True,False
Y3QVVPV31,084910,True,False,True,True,True,True,False,False,False
Y3QVVPV40,043910,True,False,True,True,False,True,False,False,False
Y3QVVQ*48,057837,True,False,True,True,False,True,False,False,False
Y3QVVQ047,101915,True,False,True,True,True,False,False,False,False
Y3QVVQP48,101902,True,False,True,True,True,True,False,False,False
Y3QVVQQ44,101907,True,False,False,True,True,False,False,False,False
Y3QVVQQ48,101907,True,False,True,True,True,True,False,False,False
Y3QVVQV49,170902,True,False,True,True,True,False,False,False,False
Y3QVVV046,101914,True,False,True,True,False,True,False,False,False
Y3QVVV246,089901,False,False,False,False,False,False,False,False,False
Y3QVVV447,085902,True,False,True,True,True,True,False,False,False
Y3QVVV547,061912,False,False,False,False,False,False,False,False,False
Y3QVVVP46,046802,False,False,False,False,False,False,False,False,False
Y3QVVVQ40,101916,True,False,False,True,True,False,False,False,False
Y3QVVY142,101910,True,False,True,True,True,False,True,False,False
Y3QVVY236,108913,False,False,False,False,False,False,False,False,False
Y3QVVY330,079907,True,False,True,True,True,False,False,False,False
Y3QVVY335,043905,True,False,True,True,True,True,False,False,False
Y3QVVY439,234906,True,False,True,True,True,False,False,False,False
Y3QVVY532,235902,True,False,True,True,True,False,False,False,False
Y3QVVYV32,108912,True,False,True,True,False,True,False,False,False
Y3QVVYV48,101858,True,False,True,True,False,False,False,False,False

## To CSV

In [65]:
filename = 'teacher_cert' + year + '.csv'
teacher_cert.to_csv(os.path.join(start.data_path, 'tea', 'teachers', filename))

# Teacher Assignments

In [43]:
pattern = "TEACHER_MASTER*.TXT"
teacher_files = []
for entry in os.listdir(teacher_datapath):
    if fnmatch.fnmatch(entry, pattern):
        teacher_files.append(entry)
teacher_files.sort()
dirs_teachers = [teacher_datapath + file for file in teacher_files]
df_list = [pd.read_csv(file, sep=",", encoding="ISO-8859-1", dtype=object) for file in dirs_teachers]
teachers = pd.concat(df_list)
teachers = teachers[teachers['ROLE NAME'] == 'TEACHER']

In [44]:
pd.set_option('display.max_columns', 100)
teachers

In [47]:
vars_to_keep = {'SCRAMBLED UNIQUE ID': 'teacher_id', 'DISTRICT NUMBER': 'district', 'DISTRICT NAME': 'distname',
                        'CAMPUS NUMBER': 'campus', 'CAMPUS NAME': 'campname',
                        'CAMPUS GRADE GROUP NAME': 'camp_grade_group',
                        'FTE': 'fte', 'ROLE FULL TIME EQUIVALENT': 'fte_teacher',
                        'SUBJECT AREA NAME 1': 'sub_area1', 'SUBJECT AREA NAME 2': 'sub_area2',
                        'SUBJECT AREA NAME 3': 'sub_area3',
                        'SUBJECT AREA NAME 4': 'sub_area4', 'SUBJECT AREA NAME 5': 'sub_area5'}
teachers = clean_tea.filter_and_rename_cols(teachers, vars_to_keep)
teachers

In [48]:
teachers

,teacher_id,district,distname,campus,campname,camp_grade_group,fte,fte_teacher,sub_area1,sub_area2,sub_area3,sub_area4,sub_area5
0,*30*5P341,031901,BROWNSVILLE ISD,031901111,SHARP EL,ELEMENTARY,1.0000,1.0002,SELF-CONTAINED,ENGLISH LANGUAGE ARTS,MATHEMATICS,SCIENCE,SOCIAL STUDIES
1,*3034L040,031901,BROWNSVILLE ISD,031901045,OLIVEIRA MIDDLE,MIDDLE SCHOOL,1.0000,1.0000,CAREER & TECHNOLOGY EDUCATION,NaN,NaN,NaN,NaN
2,*3040V545,031901,BROWNSVILLE ISD,031901106,GARDEN PARK EL,ELEMENTARY,1.0000,0.9999,ENGLISH LANGUAGE ARTS,MATHEMATICS,SCIENCE,SOCIAL STUDIES,PHYSICAL ED. & HEALTH
3,*3106V240,031901,BROWNSVILLE ISD,031901129,MORNINGSIDE EL,ELEMENTARY,1.0000,0.0496,OTHER,NaN,NaN,NaN,NaN
4,*31271Q42,031901,BROWNSVILLE ISD,031901003,PACE EARLY COLLEGE H S,HIGH SCHOOL,1.0000,0.6426,MATHEMATICS,SOCIAL STUDIES,PHYSICAL ED. & HEALTH,FOREIGN LANGUAGE,NaN
5,*3145*048,031901,BROWNSVILLE ISD,031901134,HUDSON EL,ELEMENTARY,1.0000,0.9996,ENGLISH LANGUAGE ARTS,MATHEMATICS,OTHER,NaN,NaN
6,*31Q1*049,031901,BROWNSVILLE ISD,031901142,PULLAM EL,ELEMENTARY,0.9465,0.9465,SELF-CONTAINED,NaN,NaN,NaN,NaN
7,*32*41148,031901,BROWNSVILLE ISD,031901103,LONGORIA EL,ELEMENTARY,1.0000,1.0000,SELF-CONTAINED,NaN,NaN,NaN,NaN
8,*3201VV42,031901,BROWNSVILLE ISD,031901033,BROWNSVILLE ACADEMIC CENTER,ELEMENTARY / SECONDARY,1.0000,1.0000,SOCIAL STUDIES,PHYSICAL ED. & HEALTH,FINE ARTS,OTHER,NaN
9,*32111123,031901,BROWNSVILLE ISD,031901007,LOPEZ EARLY COLLEGE H S,HIGH SCHOOL,0.8396,0.8400,FINE ARTS,NaN,NaN,NaN,NaN
10,*32121123,031901,BROWNSVILLE ISD,031901104,MARTIN EL,ELEMENTARY,0.8396,0.8416,ENGLISH LANGUAGE ARTS,MATHEMATICS,SCIENCE,SOCIAL STUDIES,PHYSICAL ED. & HEALTH
11,*3223D546,031901,BROWNSVILLE ISD,031901143,KELLER EL,ELEMENTARY,1.0000,1.0001,MATHEMATICS,OTHER,NaN,NaN,NaN
12,*3236L146,031901,BROWNSVILLE ISD,031901117,VILLA NUEVA EL,ELEMENTARY,1.0000,1.0001,ENGLISH LANGUAGE ARTS,MATHEMATICS,SCIENCE,SOCIAL STUDIES,FOREIGN LANGUAGE
13,*32QVD441,031901,BROWNSVILLE ISD,031901001,HANNA EARLY COLLEGE H S,HIGH SCHOOL,1.0000,1.0003,FOREIGN LANGUAGE,NaN,NaN,NaN,NaN
14,*32V31145,031901,BROWNSVILLE ISD,031901112,SKINNER EL,ELEMENTARY,1.0000,1.0000,ENGLISH LANGUAGE ARTS,MATHEMATICS,SCIENCE,SOCIAL STUDIES,PHYSICAL ED. & HEALTH
15,*32V7*P49,031901,BROWNSVILLE ISD,031901035,ADULT ED,OTHER GRADE GROUP,1.0000,.,NOT APPLICABLE,NaN,NaN,NaN,NaN
16,*3305F547,031901,BROWNSVILLE ISD,031901105,EL JARDIN EL,ELEMENTARY,1.0000,0.1039,SELF-CONTAINED,NaN,NaN,NaN,NaN
17,*3317QV44,031901,BROWNSVILLE ISD,031901051,LUCIO MIDDLE,MIDDLE SCHOOL,1.0000,0.9998,MATHEMATICS,NaN,NaN,NaN,NaN
18,*3326Y147,031901,BROWNSVILLE ISD,031901110,RUSSELL EL,ELEMENTARY,1.0000,1.0000,SELF-CONTAINED,NaN,NaN,NaN,NaN
19,*332QP124,031901,BROWNSVILLE ISD,031901001,HANNA EARLY COLLEGE H S,HIGH SCHOOL,0.9626,0.9628,PHYSICAL ED. & HEALTH,NaN,NaN,NaN,NaN
20,*3347V342,031901,BROWNSVILLE ISD,031901053,GARCIA MIDDLE,MIDDLE SCHOOL,1.0000,1.0002,CAREER & TECHNOLOGY EDUCATION,NaN,NaN,NaN,NaN
21,*3350YP42,031901,BROWNSVILLE ISD,031901143,KELLER EL,ELEMENTARY,1.0000,1.0000,PHYSICAL ED. & HEALTH,NaN,NaN,NaN,NaN
22,*3355YQ48,031901,BROWNSVILLE ISD,031901112,SKINNER EL,ELEMENTARY,0.8396,0.8396,NOT APPLICABLE,ENGLISH LANGUAGE ARTS,MATHEMATICS,SCIENCE,SOCIAL STUDIES
23,*33571V47,031901,BROWNSVILLE ISD,031901035,ADULT ED,OTHER GRADE GROUP,1.0000,.,NOT APPLICABLE,NaN,NaN,NaN,NaN
24,*33QQY441,031901,BROWNSVILLE ISD,031901051,LUCIO MIDDLE,MIDDLE SCHOOL,1.0000,0.9999,ENGLISH LANGUAGE ARTS,FOREIGN LANGUAGE,NaN,NaN,NaN
25,*33V5D042,031901,BROWNSVILLE ISD,031901136,CHAMPION EL,ELEMENTARY,1.0000,0.9996,SELF-CONTAINED,ENGLISH LANGUAGE ARTS,MATHEMATICS,SCIENCE,SOCIAL STUDIES
26,*3403P141,031901,BROWNSVILLE ISD,031901003,PACE EARLY COLLEGE H S,HIGH SCHOOL,1.0000,1.0011,ENGLISH LANGUAGE ARTS,MATHEMATICS,SCIENCE,SOCIAL STUDIES,CAREER & TECHNOLOGY EDUCATION
27,*3404P142,031901,BROWNSVILLE ISD,031901002,PORTER EARLY COLLEGE H S,HIGH SCHOOL,1.0000,0.9999,CAREER & TECHNOLOGY EDUCATION,NaN,NaN,NaN,NaN
28,*340V1543,031901,BROWNSVILLE ISD,031901132,YTURRIA EL,ELEMENTARY,1.0000,1.0000,SELF-CONTAINED,NaN,NaN,NaN,NaN
29,*3412VQ30,031901,BROWNSVILLE ISD,031901035,ADULT ED,OTHER GRADE GROUP,1.0000,.,NOT APPLICABLE,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31337,23Q45D447,254902,LA PRYOR ISD,254902101,LA PRYOR EL,ELEMENTARY,1.0000,1.0000,SELF-CONTAINED,NaN,NaN,NaN,NaN
31338,D31511*42,254902,LA PRYOR ISD,254902101,LA PRYOR EL,ELEMENTARY,1.0000,1.0001,MATHEMATICS,SCIENCE,OTHER,NaN,NaN
31339,D3241V440,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,1.0000,PHYSICAL ED. & HEALTH,NaN,NaN,NaN,NaN
31340,D331VL133,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,1.0001,CAREER & TECHNOLOGY EDUCATION,NaN,NaN,NaN,NaN
31341,D35*3QP42,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.9997,CAREER & TECHNOLOGY EDUCATION,NaN,NaN,NaN,NaN
31342,D354QQ440,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.9997,ENGLISH LANGUAGE ARTS,NaN,NaN,NaN,NaN
31343,D36Q3Q*49,254902,LA PRYOR ISD,254902101,LA PRYOR EL,ELEMENTARY,1.0000,1.0000,ENGLISH LANGUAGE ARTS,MATHEMATICS,SCIENCE,SOCIAL STUDIES,SPECIAL EDUCATION
31344,F37*QQ247,254902,LA PRYOR ISD,254902101,LA PRYOR EL,ELEMENTARY,1.0000,1.0001,MATHEMATICS,SCIENCE,OTHER,NaN,NaN
31345,P30QV0049,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,1.0000,PHYSICAL ED. & HEALTH,NaN,NaN,NaN,NaN
31346,P3135Y*42,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.9999,SOCIAL STUDIES,NaN,NaN,NaN,NaN
31347,P3Q3V1049,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.9999,SCIENCE,NaN,NaN,NaN,NaN
31348,Q323VD531,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.9998,ENGLISH LANGUAGE ARTS,MATHEMATICS,PHYSICAL ED. & HEALTH,NaN,NaN
31349,Q3301FV43,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.9998,TECHNOLOGY APPLICATIONS,CAREER & TECHNOLOGY EDUCATION,NaN,NaN,NaN
31350,Q365VP448,254902,LA PRYOR ISD,254902101,LA PRYOR EL,ELEMENTARY,1.0000,1.0000,SELF-CONTAINED,NaN,NaN,NaN,NaN
31351,Q375QF249,254902,LA PRYOR ISD,254902101,LA PRYOR EL,ELEMENTARY,1.0000,0.1500,SPECIAL EDUCATION,NaN,NaN,NaN,NaN
31352,V31*31248,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,1.0000,ENGLISH LANGUAGE ARTS,SCIENCE,SOCIAL STUDIES,NaN,NaN
31353,V3167D426,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,1.0001,ENGLISH LANGUAGE ARTS,SOCIAL STUDIES,NaN,NaN,NaN
31354,V32650*49,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.9998,MATHEMATICS,NaN,NaN,NaN,NaN
31355,V34V4P*49,254902,LA PRYOR ISD,254902101,LA PRYOR EL,ELEMENTARY,1.0000,1.0001,PHYSICAL ED. & HEALTH,OTHER,NaN,NaN,NaN
31356,V350Q1443,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.7664,FINE ARTS,NaN,NaN,NaN,NaN
31357,V3515P346,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,1.0005,ENGLISH LANGUAGE ARTS,SOCIAL STUDIES,SPECIAL EDUCATION,NaN,NaN
31358,V3534QP42,254902,LA PRYOR ISD,254902101,LA PRYOR EL,ELEMENTARY,1.0000,1.0000,ENGLISH LANGUAGE ARTS,MATHEMATICS,SCIENCE,SOCIAL STUDIES,OTHER
31359,V3537PQ40,254902,LA PRYOR ISD,254902101,LA PRYOR EL,ELEMENTARY,1.0000,1.0001,ENGLISH LANGUAGE ARTS,MATHEMATICS,SCIENCE,SOCIAL STUDIES,OTHER
31360,V35621V42,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.9998,SOCIAL STUDIES,PHYSICAL ED. & HEALTH,NaN,NaN,NaN
31361,V3563LP40,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.3739,ENGLISH LANGUAGE ARTS,MATHEMATICS,SCIENCE,NaN,NaN
31362,V3606V032,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.9998,FOREIGN LANGUAGE,NaN,NaN,NaN,NaN
31363,V361QL546,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.9999,SOCIAL STUDIES,NaN,NaN,NaN,NaN
31364,V361V*541,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,1.0002,OTHER,NaN,NaN,NaN,NaN
31365,V365QD448,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.9996,ENGLISH LANGUAGE ARTS,SOCIAL STUDIES,NaN,NaN,NaN
31366,V36QQQ343,254902,LA PRYOR ISD,254902001,LA PRYOR H S,HIGH SCHOOL,1.0000,0.9999,ENGLISH LANGUAGE ARTS,MATHEMATICS,OTHER,NaN,NaN