In [16]:
import os
import pandas as pd
import numpy as np
data_path = '/Users/kylieleblancKylie/domino/dofis/data/tea'
data = pd.read_csv(os.path.join(data_path, 'desc_long.csv'), low_memory = False)
data.head()

,Unnamed: 0,Unnamed: 0.1,_merge,alg_avescore,alg_numtakers,bio_avescore,bio_numtakers,cntyname,distischarter,distname,...,teachers_phddegree_num,teachers_tenure_ave,teachers_turnover_denom,teachers_turnover_num,teachers_turnover_ratio,type,type_description,us_avescore,us_numtakers,year
0,0,0,both,4079.0,61.0,4049.0,60.0,ANDERSON,N,CAYUGA ISD,...,0.0,8.1687,NaN,NaN,7.1616,H,RURAL,3535.0,44.0,2012
1,1,1,both,4012.0,68.0,3608.0,80.0,ANDERSON,N,ELKHART ISD,...,0.0,9.9706,NaN,NaN,14.9543,G,NON-METROPOLITAN STABLE,NaN,NaN,2012
2,2,2,both,3733.0,34.0,3512.0,32.0,ANDERSON,N,FRANKSTON ISD,...,0.0,10.0724,NaN,NaN,7.1843,H,RURAL,3503.0,37.0,2012
3,3,3,both,3885.0,33.0,4056.0,33.0,ANDERSON,N,NECHES ISD,...,0.0,4.3684,NaN,NaN,14.4417,H,RURAL,NaN,NaN,2012
4,4,4,both,3657.0,160.0,3847.0,196.0,ANDERSON,N,PALESTINE ISD,...,1.0,6.6886,NaN,NaN,21.2043,E,INDEPENDENT TOWN,3713.0,198.0,2012

In [17]:
data.year.value_counts()

2013    1228
2014    1227
2012    1227
2015    1219
2016    1207
2017    1203
2018    1200
Name: year, dtype: int64

In [24]:
data_path = '/Users/kylieleblancKylie/domino/dofis/data/clean'
data = pd.read_csv(os.path.join(data_path, 'master_data.csv'), low_memory = False)

In [23]:
data.year.value_counts()

2013    1228
2014    1227
2012    1227
2015    1219
2016    1207
2017    1203
2018    1200
Name: year, dtype: int64

In [25]:
data[data.distischarter == "N"].year.value_counts()

2012    1029
2013    1026
2014    1025
2015    1024
2016    1024
2018    1023
2017    1023
Name: year, dtype: int64

In [20]:
data_path = '/Users/kylieleblancKylie/domino/dofis/data/clean'
data = pd.read_csv(os.path.join(data_path, 'cits.csv'), low_memory = False)

In [21]:
data.year.value_counts()

2018    120
2017    120
2016    120
2015    120
2014    120
2013    120
2012    120
Name: year, dtype: int64