In [1]:
import pandas as pd
import sys
sys.path.append("../")
import os
import engarde.decorators as ed
from library import clean_tea_schools

data_path = '/Users/kylieleblancKylie/domino/dofis/data/'

desc = pd.read_csv(os.path.join(data_path, 'tea', 'desc_yr1617.csv'), sep=",")

In [19]:
score_cols = [c for c in desc.columns if c.lower()[-8:] == 'avescore']
desc[desc[score_cols].isnull().all(1) == True]

,Unnamed: 0,district,teachers_num,teachers_new_num,teachers_exp_ave,teachers_tenure_ave,teachers_turnover_ratio,teachers_nodegree_num,teachers_badegree_num,teachers_msdegree_num,...,bio_avescore,bio_numtakers,eng1_avescore,eng1_numtakers,eng2_avescore,eng2_numtakers,us_avescore,us_numtakers,_merge,year
129,129,22903,8.5,0,16.6,3.2,0,0,4,1,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,both,2017
265,265,57832,22.8,4.3,2,0.9,33.3,1.4,6.3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,2017
328,328,66005,10,2,17.8,0.8,50,0,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both,2017
426,426,86024,2.5,0,3,3,50,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both,2017
499,499,101829,8,3.2,0,0,80,1,2.3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,2017
705,705,133905,3.3,0,13.2,10.6,0,0,1,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,both,2017
1085,1085,227827,.,.,.,.,.,.,.,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only,2017

In [11]:
scores = clean_tea_schools.clean_cscores(year = 'yr1112', subject = '3rd')

There are  4314 districts in  3rd dataset.

In [19]:
df = cref.merge(scores, how = 'outer', on = 'campus', indicator = True)

In [29]:
df[df['r_3rd_avescore'].isnull()]

,distname,campus,campname,campischarter,cntyname_c,grade_range,region,r_3rd_avescore,r_3rd_numtakers,m_3rd_avescore,m_3rd_numtakers,_merge
0,A W BROWN-FELLOWSHIP LEADERSHIP AC,57816102,A W BROWN - FELLOWSHIP NORTH CAMPU,Y,DALLAS,E,10.0,NaN,NaN,NaN,NaN,left_only
4,ABERNATHY ISD,95901003,ABERNATHY DAEP,N,HALE,B,17.0,NaN,NaN,NaN,NaN,left_only
6,ABERNATHY ISD,95901001,ABERNATHY H S,N,HALE,S,17.0,NaN,NaN,NaN,NaN,left_only
7,ABERNATHY ISD,95901041,ABERNATHY J H,N,HALE,M,17.0,NaN,NaN,NaN,NaN,left_only
8,ABILENE ISD,221901001,ABILENE H S,N,TAYLOR,S,14.0,NaN,NaN,NaN,NaN,left_only
9,ABILENE ISD,221901010,ACADEMY FOR TECHNOLOGY ENGINEERING,N,TAYLOR,S,14.0,NaN,NaN,NaN,NaN,left_only
10,ABILENE ISD,221901142,ACADIA ABILENE BEHAVIORAL HEALTH,N,TAYLOR,B,14.0,NaN,NaN,NaN,NaN,left_only
15,ABILENE ISD,221901047,CLACK MIDDLE,N,TAYLOR,M,14.0,NaN,NaN,NaN,NaN,left_only
17,ABILENE ISD,221901002,COOPER H S,N,TAYLOR,S,14.0,NaN,NaN,NaN,NaN,left_only
18,ABILENE ISD,221901048,CRAIG MIDDLE,N,TAYLOR,M,14.0,NaN,NaN,NaN,NaN,left_only
19,ABILENE ISD,221901208,DAY NURSERY OF ABILENE,N,TAYLOR,E,14.0,NaN,NaN,NaN,NaN,left_only
23,ABILENE ISD,221901006,JEFFERSON OPPORTUNITY CTR,N,TAYLOR,S,14.0,NaN,NaN,NaN,NaN,left_only
25,ABILENE ISD,221901008,JUVENILE DETENTION CENTER,N,TAYLOR,B,14.0,NaN,NaN,NaN,NaN,left_only
27,ABILENE ISD,221901117,LOCUST ECC,N,TAYLOR,E,14.0,NaN,NaN,NaN,NaN,left_only
29,ABILENE ISD,221901044,MADISON MIDDLE,N,TAYLOR,M,14.0,NaN,NaN,NaN,NaN,left_only
30,ABILENE ISD,221901045,MANN MIDDLE,N,TAYLOR,M,14.0,NaN,NaN,NaN,NaN,left_only
32,ABILENE ISD,221901154,REAGAN EARLY CHILDHOOD,N,TAYLOR,E,14.0,NaN,NaN,NaN,NaN,left_only
34,ABILENE ISD,221901124,SAM HOUSTON,N,TAYLOR,B,14.0,NaN,NaN,NaN,NaN,left_only
35,ABILENE ISD,221901007,TAYLOR COUNTY LEARNING CENTER,N,TAYLOR,M,14.0,NaN,NaN,NaN,NaN,left_only
39,ABILENE ISD,221901003,WOODSON CENTER FOR EXCELLENCE,N,TAYLOR,S,14.0,NaN,NaN,NaN,NaN,left_only
40,ABILENE ISD,221901125,WOODSON ECC,N,TAYLOR,E,14.0,NaN,NaN,NaN,NaN,left_only
42,ACADEMY ISD,14901001,ACADEMY H S,N,BELL,S,12.0,NaN,NaN,NaN,NaN,left_only
43,ACADEMY ISD,14901041,ACADEMY J H,N,BELL,M,12.0,NaN,NaN,NaN,NaN,left_only
45,ACADEMY OF CAREERS AND TECHNOLOGIE,15816001,ACADEMY OF CAREERS AND TECHNOLOGIE,Y,BEXAR,S,20.0,NaN,NaN,NaN,NaN,left_only
51,AGUA DULCE ISD,178901001,AGUA DULCE H S,N,NUECES,B,2.0,NaN,NaN,NaN,NaN,left_only
52,ALAMO HEIGHTS ISD,15901001,ALAMO HEIGHTS H S,N,BEXAR,S,20.0,NaN,NaN,NaN,NaN,left_only
53,ALAMO HEIGHTS ISD,15901041,ALAMO HEIGHTS J H,N,BEXAR,M,20.0,NaN,NaN,NaN,NaN,left_only
55,ALAMO HEIGHTS ISD,15901102,HOWARD EL,N,BEXAR,E,20.0,NaN,NaN,NaN,NaN,left_only
58,ALBA-GOLDEN ISD,250906001,ALBA-GOLDEN H S,N,WOOD,B,7.0,NaN,NaN,NaN,NaN,left_only
59,ALBANY ISD,209901001,ALBANY JR-SR H S,N,SHACKELFORD,S,14.0,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...
8462,YSLETA ISD,71905014,CESAR CHAVEZ ACADEMY,N,EL PASO,S,19.0,NaN,NaN,NaN,NaN,left_only
8463,YSLETA ISD,71905016,CESAR CHAVEZ ACADEMY JJAEP,N,EL PASO,S,19.0,NaN,NaN,NaN,NaN,left_only
8467,YSLETA ISD,71905008,DEL VALLE HS,N,EL PASO,S,19.0,NaN,NaN,NaN,NaN,left_only
8468,YSLETA ISD,71905048,DESERT VIEW MS,N,EL PASO,M,19.0,NaN,NaN,NaN,NaN,left_only
8473,YSLETA ISD,71905002,EASTWOOD HS,N,EL PASO,S,19.0,NaN,NaN,NaN,NaN,left_only
8475,YSLETA ISD,71905043,EASTWOOD MIDDLE,N,EL PASO,M,19.0,NaN,NaN,NaN,NaN,left_only
8479,YSLETA ISD,71905045,HILLCREST MS,N,EL PASO,M,19.0,NaN,NaN,NaN,NaN,left_only
8480,YSLETA ISD,71905050,INDIAN RIDGE MS,N,EL PASO,M,19.0,NaN,NaN,NaN,NaN,left_only
8481,YSLETA ISD,71905007,J M HANKS HS,N,EL PASO,S,19.0,NaN,NaN,NaN,NaN,left_only
8491,YSLETA ISD,71905003,PARKLAND HS,N,EL PASO,S,19.0,NaN,NaN,NaN,NaN,left_only
8492,YSLETA ISD,71905042,PARKLAND MS,N,EL PASO,M,19.0,NaN,NaN,NaN,NaN,left_only
8495,YSLETA ISD,71905033,PLATO ACADEMY,N,EL PASO,S,19.0,NaN,NaN,NaN,NaN,left_only
8498,YSLETA ISD,71905049,RANCHLAND HILLS MIDDLE,N,EL PASO,M,19.0,NaN,NaN,NaN,NaN,left_only
8499,YSLETA ISD,71905052,RIO BRAVO MS,N,EL PASO,M,19.0,NaN,NaN,NaN,NaN,left_only
8500,YSLETA ISD,71905005,RIVERSIDE HS,N,EL PASO,S,19.0,NaN,NaN,NaN,NaN,left_only
8501,YSLETA ISD,71905044,RIVERSIDE MS,N,EL PASO,M,19.0,NaN,NaN,NaN,NaN,left_only
8503,YSLETA ISD,71905140,ROBERT F KENNEDY PRE-K CENTER,N,EL PASO,E,19.0,NaN,NaN,NaN,NaN,left_only
8507,YSLETA ISD,71905010,TEJAS SCHOOL OF CHOICE,N,EL PASO,S,19.0,NaN,NaN,NaN,NaN,left_only
8510,YSLETA ISD,71905017,VALLE VERDE EARLY COLLEGE H S,N,EL PASO,S,19.0,NaN,NaN,NaN,NaN,left_only
8511,YSLETA ISD,71905047,VALLEY VIEW MS,N,EL PASO,M,19.0,NaN,NaN,NaN,NaN,left_only
8514,YSLETA ISD,71905004,YSLETA HS,N,EL PASO,S,19.0,NaN,NaN,NaN,NaN,left_only
8515,YSLETA ISD,71905046,YSLETA MS,N,EL PASO,M,19.0,NaN,NaN,NaN,NaN,left_only
8516,YSLETA ISD,71905134,YSLETA PK CENTER,N,EL PASO,E,19.0,NaN,NaN,NaN,NaN,left_only
8519,ZAPATA COUNTY ISD,253901001,ZAPATA H S,N,ZAPATA,S,1.0,NaN,NaN,NaN,NaN,left_only
8520,ZAPATA COUNTY ISD,253901041,ZAPATA MIDDLE,N,ZAPATA,M,1.0,NaN,NaN,NaN,NaN,left_only
8524,ZAVALLA ISD,3906001,ZAVALLA H S,N,ANGELINA,B,7.0,NaN,NaN,NaN,NaN,left_only
8525,ZEPHYR ISD,25906160,EARLY SPECIAL PROGRAM,N,BROWN,E,15.0,NaN,NaN,NaN,NaN,left_only
8529,NaN,15915137,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1.0,right_only
8530,NaN,101849105,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,right_only
8531,NaN,227905001,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,right_only

In [12]:
df = pd.read_csv(os.path.join(data_path, 'tea', 'ddem', 'yr1718', 'DISTPROF.dat'), sep=",")
sum(df.DPETALLC)

5385012

In [32]:
df = pd.read_csv(os.path.join(data_path, 'tea', 'cref', 'yr1718', 'CREF.dat'), sep=",")
df[df.CAMPUS == 7904002]

,CAMPUS,DISTRICT,CAMPNAME,COUNTY,DISTNAME,REGION,CNTYNAME,GRDTYPE,GRDSPAN,CFLALTED,...,PAIRCAMP,PAIRNAME,CAD_PROGRESS,CAD_GAP,CAD_READ,CAD_MATH,CAD_SCIE,CAD_SOCI,CAD_POST,C_RATING
97,7904002,7904,LYTLE DAEP,7,LYTLE ISD,20,ATASCOSA,S,08 - 10,N,...,,,,,,,,,,Not Rated

In [28]:
df = pd.read_csv(os.path.join(data_path, 'tea', 'ddem', 'yr1213', 'DISTPROF.txt'), sep=",")
#df['CPSTTOFC'] = df.CPSTTOFC.convert_objects(convert_numeric = True)
df['DPSTTOFC'] = pd.to_numeric(df.DPSTTOFC, errors='coerce')
df.DPSTTOFC.sum()

327422.6

In [12]:
sum(df.CA0GR12N)

292318

In [7]:
df[['CAMPUS','CPETALLC']]

     CAMPUS  CPETALLC
0   1902001       192
1   1902041       124
2   1902103       237
3   1903001       360
4   1903041       287
5   1903101       292
6   1903102       268
7   1904001       223
8   1904041       178
9   1904102       361
10  1906002       119
11  1906040         1
12  1906102       269
13  1907001       801
14  1907041       448
15  1907101       568
16  1907102       215
17  1907107       514
18  1907110       717
19  1908002       424
20  1908041       240
21  1908101       503
22  1908102       435
23  1909001       207
24  1909101       205
25  2901001       948
26  2901002        40
27  2901041       816
28  2901101       587
29  2901104       618
..      ...       ...
70  3907102       643
71  4901001       924
72  4901041       751
73  4901101       484
74  4901102       318
75  4901103       735
76  5901001       238
77  5901101       249
78  5902001       274
79  5902041       218
80  5902101       400
81  5904001       164
82  5904041       113
83  5904101       184
84  6902001       199
85  6902101       170
86  7901001       141
87  7901041       162
88  7901101       231
89  7902001       476
90  7902004         1
91  7902005        10
92  7902006         4
93  7902041       359
94  7902101       702
95  7904001       516
96  7904002         9
97  7904041       384
98  7904101       519
99  7904103       334

[100 rows x 2 columns]

In [5]:
sum(df.CPETALLC)

5385012

In [2]:
df = clean_tea_schools.clean_cdem('yr1314')

There are  8574 schools in cdem yr1314

In [3]:
df

,campus,teachers_num,teachers_new_num,teachers_exp_ave,teachers_tenure_ave,students_frpl_num,students_hisp_num,students_white_num,students_black_num,students_amind_num,students_asian_num,students_paci_num,students_tworaces_num,students_num
0,1902001,20.5581,1.8329,14.745098039,6.2745098039,61,8,160,15,0,2,0,7,192
1,1902041,11.9781,1.1667,14.761904762,5.6666666667,49,5,100,5,0,2,0,12,124
2,1902103,22.3537,0,17.166666667,10.875,100,26,191,7,0,2,0,11,237
3,1903001,32.7724,0,14.333333333,8.0833333333,135,25,306,11,2,5,0,11,360
4,1903041,23.4894,3.0002,9.962962963,7.1851851852,142,24,237,15,0,3,1,7,287
5,1903101,20.2128,0,15.086956522,11.739130435,204,37,234,11,0,1,0,9,292
6,1903102,22.279,0,13.08,9.12,141,23,216,14,0,3,1,11,268
7,1904001,23.0003,0.6576,11.277777778,6.3888888889,118,16,162,35,2,1,0,7,223
8,1904041,11.3764,1.3426,12.782608696,6.8695652174,96,22,136,15,1,0,0,4,178
9,1904102,22.7985,0,17.230769231,10.192307692,231,28,273,43,0,1,0,16,361
10,1906002,11.3081,0.8924,13,5.9285714286,46,14,94,8,0,1,0,2,119
11,1906040,.,.,.,.,1,0,0,1,0,0,0,0,1
12,1906102,23.5383,2.1075,12.689655172,5.9655172414,103,28,220,16,0,1,0,4,269
13,1907001,77.4317,9.41,11.619845361,5.6812714777,506,293,270,218,5,7,0,8,801
14,1907041,37.8227,4.3445,10.266666667,3.3555555556,319,183,115,139,3,2,0,6,448
15,1907101,39.9994,1,11.925,6.675,442,181,200,132,32,4,1,18,568
16,1907102,11.4813,0,9.829061169,7.6516073964,206,100,32,77,0,4,0,2,215
17,1907107,38.9999,6,9.7948717949,7.1282051282,427,219,139,132,2,1,0,21,514
18,1907110,54.8383,7.0003,9.4882758847,5.2564460349,576,284,191,216,2,6,0,18,717
19,1908002,38.0558,1.9998,12.255813953,5.5581395349,207,60,259,84,0,4,2,15,424
20,1908041,22.1253,1.0001,12.007254084,7.0341213317,161,52,128,49,1,2,0,8,240
21,1908101,34.9079,2.9999,10.27027027,4.8108108108,335,127,270,79,2,3,1,21,503
22,1908102,28.3629,0.5034,10.586206897,7.5862068966,285,114,228,69,2,0,0,22,435
23,1909001,19.4495,0,14.209766555,10.04738308,93,12,188,1,1,0,0,5,207
24,1909101,18.4228,0,14.438189393,9.9097651893,104,10,181,6,0,0,0,8,205
25,2901001,68.5597,1.0001,14.486666667,8.5733333333,276,602,307,19,2,2,0,16,948
26,2901002,5.9993,0,13.333333333,4,17,24,14,0,0,0,0,2,40
27,2901041,54.632,0,14.801587302,8.4761904762,333,522,260,13,3,4,0,14,816
28,2901101,40.8871,0,12,7.0731707317,261,401,166,8,2,2,1,7,587
29,2901104,41.0021,1.0016,10.268292683,6.9268292683,288,430,168,8,1,3,0,8,618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8544,250907041,33.1755,3.0006,14.457142857,9.6285714286,221,57,365,8,2,6,1,5,444
8545,250907103,40.9461,1.0003,10.25286997,8.4712612234,415,111,510,11,2,4,0,30,668
8546,251901001,35.7662,0,16.794871795,9.8717948718,160,323,101,1,1,0,0,4,430
8547,251901041,29.0578,1.0002,12.985074627,7.7313432836,187,292,80,0,1,0,0,0,373
8548,251901101,57.9997,4,10.540270214,7.21261112,494,727,152,15,2,4,0,11,911
8549,251902001,15.1148,0,18.337055727,7.3175632594,72,77,44,0,0,0,0,2,123
8550,251902041,13.3005,0,15.571428571,7.2380952381,97,89,60,0,0,0,0,0,149
8551,251902101,16.1602,0,17.647058824,12.588235294,137,125,67,0,0,0,0,0,192
8552,252901001,53.9977,0,14.296296296,7.4074074074,306,175,503,4,3,1,2,1,689
8553,252901002,1,0,24,10,12,4,13,0,1,0,0,0,18
8554,252901041,41.4856,1.9999,12.236258438,7.3905496625,318,158,431,9,3,3,0,5,609
8555,252901101,39.6958,4.0002,12.357142857,9.880952381,342,179,353,10,3,1,0,14,560
8556,252901104,19.7561,2,9.9268292683,8.9512195122,241,117,184,3,1,3,0,4,312
8557,252901105,24.5603,1,12.307692308,8.6153846154,229,104,260,6,3,3,0,8,384
8558,252902002,18.8778,0,12.421052632,7.7368421053,107,28,183,0,0,0,0,0,211
8559,252903001,23.5282,3.6935,13.295081967,5.4754098361,96,72,127,6,3,0,0,4,212
8560,252903041,15.7346,1.7697,13.24137931,5.6206896552,96,58,78,4,1,1,0,6,148
8561,252903101,32.4039,1.9998,14.575757576,11.060606061,267,130,203,6,1,3,0,15,358
8562,253901001,66.1124,4,14.795664424,12.327870424,661,914,7,1,0,0,0,0,922
8563,253901041,53.6488,0,12.872727273,11.418181818,592,723,8,0,0,1,0,0,732
8564,253901101,6.8023,0,12.859161141,12.447214831,86,100,1,0,0,0,0,0,101
8565,253901105,29.9995,0,13.1,11.733333333,499,632,4,0,0,1,0,0,637
8566,253901106,32.706,0,13.36971248,12.369063575,497,611,9,0,0,0,0,0,620
8567,253901107,31.9787,2.9787,11.351341209,10.913548436,514,584,0,0,0,0,0,0,584
8568,254901001,31.335,0,13.418068333,8.2340886872,407,507,4,0,0,0,0,1,512
8569,254901042,22.253,2,9.75,6.25,244,279,11,3,0,0,0,0,293
8570,254901101,52.9489,1.9466,9.1601900031,7.1581690952,834,900,9,1,1,1,0,2,914
8571,254901104,18.3081,2,15.214075011,10.219131901,264,285,2,5,0,0,0,1,293
8572,254902001,20.9984,4.9996,9.2380952381,2.6666666667,171,198,11,1,0,0,0,1,211
8573,254902101,21.8233,2,15.757394552,7.102435448,232,244,21,0,0,0,0,0,265