In [97]:
import pandas as pd
import os
import fnmatch
import numpy as np
from library import start
from library import clean_tea
pd.set_option('display.max_columns', None)

In [98]:
year = 'yr1718'

In [99]:
folder = 'certification_' + year + '/'
teacher_datapath = os.path.join(start.data_path, 'tea', 'teachers', folder)

pattern = "TEACHER_CLASS*.TXT"
teacher_files = []
for entry in os.listdir(teacher_datapath):
    if fnmatch.fnmatch(entry, pattern):
        teacher_files.append(entry)
teacher_files.sort()
dirs_teachers = [teacher_datapath + file for file in teacher_files]
df_list = [pd.read_csv(file, sep=",", encoding="ISO-8859-1", dtype=object) for file in dirs_teachers]
teachers = pd.concat(df_list)
#teachers = teachers[teachers['ROLE NAME'] == 'TEACHER']
#teachers = teachers.set_index('SCRAMBLED UNIQUE ID')
teachers.sample(10)

,REGION NUMBER,COUNTY NUMBER,COUNTY NAME,DISTRICT NUMBER,DISTRICT NAME,DISTRICT CHARTER TYPE CODE,DISTRICT CHARTER TYPE NAME,CAMPUS NUMBER,CAMPUS NAME,CAMPUS CHARTER TYPE CODE,CAMPUS CHARTER TYPE NAME,CAMPUS ADDRESS,CAMPUS CITY,CAMPUS STATE,CAMPUS ZIP,CAMPUS EMAIL,SCRAMBLED UNIQUE ID,FIRST NAME,MIDDLE NAME,LAST NAME,ROLE CODE,ROLE NAME,CLASS NUMBER,CLASS NAME,CLASS TYPE CODE,CLASS TYPE NAME,SUBJECT AREA CODE,SUBJECT AREA NAME,SUBJECT CODE,SUBJECT NAME,GRADE LEVEL CODE,GRADE LEVEL NAME,ADVANCED COURSE,PARTIAL FULL TIME EQUIVALENT
16967,06,170,MONTGOMERY COUNTY,170902,CONROE ISD,00,NOT A CHARTER DISTRICT,170902005,OAK RIDGE H S,00,NOT A CHARTER SCHOOL,27330 OAK RDG SCHOOL RD,CONROE,TX,77385-9042,tjohnson@conroeisd.net,13104VQ46,KEVIN,M,EDMONSON,087,TEACHER,03810100,HEALTH EDUCATION (HLTH ED),01,ACADEMIC ACHIEVEMENT COURSE,06,PHYSICAL ED. & HEALTH,81,HEALTH,45,GRADES 9-12,N,0.0714
11222,17,152,LUBBOCK COUNTY,152901,LUBBOCK ISD,00,NOT A CHARTER DISTRICT,152901022,LUBBOCK H S,00,NOT A CHARTER SCHOOL,2004 19TH ST,LUBBOCK,TX,79401,dyoung@lubbockisd.org,13853*P49,SAMUEL,THOMAS,BLACK,087,TEACHER,13027700,COMPUTER PROGRAMMING II,01,ACADEMIC ACHIEVEMENT COURSE,11,CAREER & TECHNOLOGY EDUCATION,89,INFORMATION TECHNOLOGY,45,GRADES 9-12,N,0.0850
12978,15,226,TOM GREEN COUNTY,226906,WALL ISD,00,NOT A CHARTER DISTRICT,226906101,WALL EL,00,NOT A CHARTER SCHOOL,P O BOX 259,WALL,TX,76957-0259,matt.fore@wallisd.net,V37Q3F*48,LINDA,RUTH,GULLY,087,TEACHER,02630020,"ENGLISH LANGUAGE ARTS, GRADE 2",01,ACADEMIC ACHIEVEMENT COURSE,02,ENGLISH LANGUAGE ARTS,22,ENGLISH,02,GRADE 2,N,0.1132
14482,06,166,MILAM COUNTY,166901,CAMERON ISD,00,NOT A CHARTER DISTRICT,166901104,BEN MILAM EL,00,NOT A CHARTER SCHOOL,P O BOX 712,CAMERON,TX,76520-2770,rallen@cameronisd.net,23Q43V147,MELISSA,NaN,VACULIN,087,TEACHER,85000XXX,LCC-OTHER SEC SUBJECT-GRD 9-12,01,ACADEMIC ACHIEVEMENT COURSE,99,OTHER,99,OTHER,45,GRADES 9-12,N,0.1644
99946,04,101,HARRIS COUNTY,101907,CYPRESS-FAIRBANKS ISD,00,NOT A CHARTER DISTRICT,101907004,CYPRESS CREEK H S,00,NOT A CHARTER SCHOOL,9815 GRANT RD,HOUSTON,TX,77070-4501,vicki.snokhous@cfisd.net,F340VV438,JACOB,D,ROMIG,087,TEACHER,03040000,CHEMISTRY (CHEM),01,ACADEMIC ACHIEVEMENT COURSE,04,SCIENCE,02,CHEMISTRY,45,GRADES 9-12,N,1.0000
50292,01,108,HIDALGO COUNTY,108904,EDINBURG CISD,00,NOT A CHARTER DISTRICT,108904121,JOHN F KENNEDY EL,00,NOT A CHARTER SCHOOL,P O BOX 990,EDINBURG,TX,78540-0990,g.alonzo@ecisd.us,13257P149,ESTEFANY,M,GUTIERREZ,087,TEACHER,02640050,"MATHEMATICS, GRADE 5",01,ACADEMIC ACHIEVEMENT COURSE,03,MATHEMATICS,10,MATHEMATICS,05,GRADE 5,N,0.2222
167665,04,101,HARRIS COUNTY,101912,HOUSTON ISD,00,NOT A CHARTER DISTRICT,101912274,ASKEW EL,00,NOT A CHARTER SCHOOL,11200 WOOD LODGE DR,HOUSTON,TX,77077-4237,ecumby@houstonisd.org,V31VQ0Q42,KAREN,M,CALHOUN,087,TEACHER,02620050,"READING, GRADE 5",01,ACADEMIC ACHIEVEMENT COURSE,02,ENGLISH LANGUAGE ARTS,27,READING,05,GRADE 5,N,0.2344
135344,11,220,TARRANT COUNTY,220918,EAGLE MT-SAGINAW ISD,00,NOT A CHARTER DISTRICT,220918114,WILLOW CREEK EL,00,NOT A CHARTER SCHOOL,1100 W MCLEROY BLVD,SAGINAW,TX,76131,chollinger@ems-isd.net,13067*442,MARLENA,RENEE,BONNER,087,TEACHER,02620050,"READING, GRADE 5",01,ACADEMIC ACHIEVEMENT COURSE,02,ENGLISH LANGUAGE ARTS,27,READING,05,GRADE 5,N,0.0374
668,08,019,BOWIE COUNTY,019905,NEW BOSTON ISD,00,NOT A CHARTER DISTRICT,019905001,NEW BOSTON H S,00,NOT A CHARTER SCHOOL,# 1 LION DR,NEW BOSTON,TX,75570-3199,enrollment@nbschools.net,03QV3FQ46,AMY,LYNNE,MAY,087,TEACHER,03320100,WORLD GEOGRAPHY STUDIES (W GEO,01,ACADEMIC ACHIEVEMENT COURSE,05,SOCIAL STUDIES,32,GEOGRAPHY,45,GRADES 9-12,N,0.2572
23702,07,183,PANOLA COUNTY,183902,CARTHAGE ISD,00,NOT A CHARTER DISTRICT,183902001,CARTHAGE H S,00,NOT A CHARTER SCHOOL,#1 BULLDOG DR,CARTHAGE,TX,75633-0197,oamy@carthageisd.org,V3667*144,MELINDA,G,RAMSEY,087,TEACHER,13034400,ENTREPRENEURSHIP,01,ACADEMIC ACHIEVEMENT COURSE,11,CAREER & TECHNOLOGY EDUCATION,93,MARKETING,45,GRADES 9-12,N,0.2243

In [100]:
teachers['ROLE NAME'].value_counts()

TEACHER               1281504
SUBSTITUTE TEACHER       3411
Name: ROLE NAME, dtype: int64

In [101]:
teachers['SCRAMBLED UNIQUE ID'].sample()

86269    Q3Q*QLQ47
Name: SCRAMBLED UNIQUE ID, dtype: object

In [102]:
teachers[teachers['SCRAMBLED UNIQUE ID'] == 'V310Q*037']

,REGION NUMBER,COUNTY NUMBER,COUNTY NAME,DISTRICT NUMBER,DISTRICT NAME,DISTRICT CHARTER TYPE CODE,DISTRICT CHARTER TYPE NAME,CAMPUS NUMBER,CAMPUS NAME,CAMPUS CHARTER TYPE CODE,CAMPUS CHARTER TYPE NAME,CAMPUS ADDRESS,CAMPUS CITY,CAMPUS STATE,CAMPUS ZIP,CAMPUS EMAIL,SCRAMBLED UNIQUE ID,FIRST NAME,MIDDLE NAME,LAST NAME,ROLE CODE,ROLE NAME,CLASS NUMBER,CLASS NAME,CLASS TYPE CODE,CLASS TYPE NAME,SUBJECT AREA CODE,SUBJECT AREA NAME,SUBJECT CODE,SUBJECT NAME,GRADE LEVEL CODE,GRADE LEVEL NAME,ADVANCED COURSE,PARTIAL FULL TIME EQUIVALENT
40120,20,015,BEXAR COUNTY,015910,NORTH EAST ISD,00,NOT A CHARTER DISTRICT,015910049,DRISCOLL MIDDLE,00,NOT A CHARTER SCHOOL,17150 JONES MALTSBERGER RD,SAN ANTONIO,TX,78247-2812,szimme@neisd.net,V310Q*037,BRIANNE,MARIE BURGESS,WOODWARD,087,TEACHER,03154131,MUSIC - MIDDLE SCHOOL 1-CHOIR,01,ACADEMIC ACHIEVEMENT COURSE,08,FINE ARTS,15,MUSIC,70,MIDDLE SCHOOL (GRADES 6 - 8),N,0.2108
40121,20,015,BEXAR COUNTY,015910,NORTH EAST ISD,00,NOT A CHARTER DISTRICT,015910049,DRISCOLL MIDDLE,00,NOT A CHARTER SCHOOL,17150 JONES MALTSBERGER RD,SAN ANTONIO,TX,78247-2812,szimme@neisd.net,V310Q*037,BRIANNE,MARIE BURGESS,WOODWARD,087,TEACHER,03154231,MUSIC - MIDDLE SCHOOL 2-CHOIR,01,ACADEMIC ACHIEVEMENT COURSE,08,FINE ARTS,15,MUSIC,70,MIDDLE SCHOOL (GRADES 6 - 8),N,0.4216
40122,20,015,BEXAR COUNTY,015910,NORTH EAST ISD,00,NOT A CHARTER DISTRICT,015910049,DRISCOLL MIDDLE,00,NOT A CHARTER SCHOOL,17150 JONES MALTSBERGER RD,SAN ANTONIO,TX,78247-2812,szimme@neisd.net,V310Q*037,BRIANNE,MARIE BURGESS,WOODWARD,087,TEACHER,03154331,MUSIC - MIDDLE SCHOOL 3-CHOIR,01,ACADEMIC ACHIEVEMENT COURSE,08,FINE ARTS,15,MUSIC,70,MIDDLE SCHOOL (GRADES 6 - 8),N,0.3162
40123,20,015,BEXAR COUNTY,015910,NORTH EAST ISD,00,NOT A CHARTER DISTRICT,015910049,DRISCOLL MIDDLE,00,NOT A CHARTER SCHOOL,17150 JONES MALTSBERGER RD,SAN ANTONIO,TX,78247-2812,szimme@neisd.net,V310Q*037,BRIANNE,MARIE BURGESS,WOODWARD,087,TEACHER,85000XXX,LCC-OTHER SEC SUBJECT-GRD 9-12,01,ACADEMIC ACHIEVEMENT COURSE,99,OTHER,99,OTHER,45,GRADES 9-12,N,0.0516

In [103]:
teachers['DISTRICT CHARTER TYPE NAME'].value_counts()

NOT A CHARTER DISTRICT          1222170
OPEN ENROLLMENT CHARTER DIST      61654
OPEN ENROLLMENT COLLEGE/UNIV       1091
Name: DISTRICT CHARTER TYPE NAME, dtype: int64

In [104]:
teachers['SUBJECT AREA NAME'].value_counts()

ENGLISH LANGUAGE ARTS            277084
MATHEMATICS                      163996
SOCIAL STUDIES                   146405
SCIENCE                          140529
FINE ARTS                        129937
PHYSICAL ED. & HEALTH            121581
OTHER                             87601
CAREER & TECHNOLOGY EDUCATION     70220
SELF-CONTAINED                    59594
NOT APPLICABLE                    28831
FOREIGN LANGUAGE                  27198
SPECIAL EDUCATION                 18450
TECHNOLOGY APPLICATIONS           13489
Name: SUBJECT AREA NAME, dtype: int64

In [105]:
teachers['CLASS TYPE NAME'].value_counts()

ACADEMIC ACHIEVEMENT COURSE       1209768
ADDITIONAL CLASSROOM DUTY           28424
SPECIAL EDUCATION COURSE            18452
COLLEGE BOARD ADV PLACEMENT         15940
INNOVATIVE COURSE                   10626
INTERNATIONAL BACCALAUREATE          1298
SUPPORT/ADMINISTRATIVE SERVICE        407
Name: CLASS TYPE NAME, dtype: int64

In [106]:
teachers['GRADE LEVEL NAME'].value_counts()

GRADES 9-12                      412625
GRADE 2                          121120
GRADE 1                          117475
GRADE 3                          111808
GRADE 4                          103159
GRADE 5                           85881
KINDERGARTEN                      74636
GRADE 6                           52394
ALL GRADE LEVELS                  46368
GRADE 7                           41676
GRADE 8                           39520
MIDDLE SCHOOL (GRADES 6 - 8)      38563
ELEMENTARY (GRADES 1-6)           16372
PRE-KINDERGARTEN                  12302
KINDERGARTEN/ELEMENTARY (K-6)     10095
NOT APPLICABLE                      471
EARLY EDUCATION                     344
SECONDARY (GRADES 7-12)             106
Name: GRADE LEVEL NAME, dtype: int64

In [107]:
teachers['GRADE LEVEL CODE'].value_counts()

45    412625
02    121120
01    117475
03    111808
04    103159
05     85881
KG     74636
06     52394
50     46368
07     41676
08     39520
70     38563
30     16372
PK     12302
60     10095
00       471
EE       344
40       106
Name: GRADE LEVEL CODE, dtype: int64

# Clean

In [108]:
teachers['elementary'] = np.where(((teachers['GRADE LEVEL NAME'] == 'GRADE 1') |
                                (teachers['GRADE LEVEL NAME'] == 'GRADE 2') |
                                (teachers['GRADE LEVEL NAME'] == 'GRADE 3') |
                                (teachers['GRADE LEVEL NAME'] == 'GRADE 4') |
                                (teachers['GRADE LEVEL NAME'] == 'GRADE 5') |
                                (teachers['GRADE LEVEL NAME'] == 'KINDERGARTEN') |
                                (teachers['GRADE LEVEL NAME'] == 'PRE-KINDERGARTEN') |
                                (teachers['GRADE LEVEL NAME'] == 'EARLY EDUCATION')) , True, False)

In [109]:
teachers['PARTIAL FULL TIME EQUIVALENT'] = pd.to_numeric(teachers['PARTIAL FULL TIME EQUIVALENT'], errors = 'coerce')

# Replicate

## Elementary Math
### According to out-of-field report, should be 21,869.1

In [110]:
teachers['PARTIAL FULL TIME EQUIVALENT'][(teachers['SUBJECT AREA NAME'] == 'MATHEMATICS') &
                        (teachers.elementary == True) &
                        (teachers['CAMPUS CHARTER TYPE NAME'] == 'NOT A CHARTER SCHOOL')].sum(axis = 0) # too high

25873.0525

In [113]:
teachers[(teachers['SUBJECT AREA NAME'] == 'MATHEMATICS') &
        (teachers.elementary == True) &
        (teachers['CAMPUS CHARTER TYPE NAME'] == 'NOT A CHARTER SCHOOL')]['SCRAMBLED UNIQUE ID'].nunique() # too high

80356

In [83]:
teachers[(teachers['SUBJECT AREA NAME'] == 'MATHEMATICS') &
                               (teachers.elementary == True)]['CLASS NAME'].value_counts()

MATHEMATICS, GRADE 2    20103
MATHEMATICS, GRADE 1    19282
MATHEMATICS, GRADE 3    18190
MATHEMATICS, GRADE 4    16367
MATHEMATICS, GRADE 5    13130
MATHEMATICS GRADE K      9776
Name: CLASS NAME, dtype: int64

In [49]:
# total fte
## According to out-of field report, should be 312512.3

In [50]:
teachers['PARTIAL FULL TIME EQUIVALENT'].sum(axis = 0) # too high

356920.2647000002

In [52]:
teachers = teachers[teachers['ROLE NAME'] == 'TEACHER']
teachers['PARTIAL FULL TIME EQUIVALENT'].sum(axis = 0) # still too high

356027.1971

In [57]:
teachers['GRADE LEVEL NAME'].value_counts()

GRADES 9-12                      372956
GRADE 2                          116700
GRADE 1                          113129
GRADE 3                          107204
GRADE 4                           98637
GRADE 5                           80993
KINDERGARTEN                      72431
GRADE 6                           46726
MIDDLE SCHOOL (GRADES 6 - 8)      38499
GRADE 7                           37552
GRADE 8                           34815
ALL GRADE LEVELS                  18435
ELEMENTARY (GRADES 1-6)           16330
PRE-KINDERGARTEN                  11066
KINDERGARTEN/ELEMENTARY (K-6)         9
Name: GRADE LEVEL NAME, dtype: int64

In [58]:
teachers['GRADE LEVEL CODE'].value_counts()

45    372956
02    116700
01    113129
03    107204
04     98637
05     80993
KG     72431
06     46726
70     38499
07     37552
08     34815
50     18435
30     16330
PK     11066
60         9
Name: GRADE LEVEL CODE, dtype: int64

In [60]:
teachers = teachers[teachers['SUBJECT AREA NAME'] != 'OTHER']
teachers = teachers[teachers['SUBJECT AREA NAME'] != 'NOT APPLICABLE'] # need to add back JRTOC
teachers = teachers[(teachers['SUBJECT AREA NAME'] != 'SELF-CONTAINED' ) | 
                    (teachers['GRADE LEVEL NAME'] != 'GRADES 9-12')]

In [61]:
teachers['PARTIAL FULL TIME EQUIVALENT'].sum(axis = 0) # still too high

326523.52869999997