In [1]:
import csv
import pandas as pd
import cleaning
import os

In [2]:
pd.set_option('display.max_rows', 500)

In [3]:
data_path = '/Users/kylieleblancKylie/domino/dofis/data/tea/'

# Basic Descriptives - DREF
data from: https://tea.texas.gov/perfreport/tapr/index.html
reference of labels: https://rptsvr1.tea.texas.gov/perfreport/tapr/2016/download/dstaff.html
steps to cleaning dref can be found in cleaning.py

In [4]:
dref = cleaning.clean_dref(year = 'yr1617')
dref.head()

There are  1203 districts in dref

   district       distname distischarter rating  cntyname
0      1902     CAYUGA ISD             N      M  ANDERSON
1      1903    ELKHART ISD             N      M  ANDERSON
2      1904  FRANKSTON ISD             N      M  ANDERSON
3      1906     NECHES ISD             N      M  ANDERSON
4      1907  PALESTINE ISD             N      M  ANDERSON

# Demographic data - DDEM
data from: https://tea.texas.gov/perfreport/tapr/index.html
reference of labels: https://rptsvr1.tea.texas.gov/perfreport/tapr/2016/download/dstaff.html

In [5]:
ddem = cleaning.clean_ddem(year = 'yr1617')
ddem.head()

There are  1203 districts in ddem

,district,teachers_num,teachers_new_num,teachers_exp_ave,teachers_tenure_ave,teachers_turnover_denom,teacher_turnover_num,teachers_turnover_ratio,teachers_nodegree_num,teachers_badegree_num,teachers_msdegree_num,teachers_phddegree_num,students_num,students_frpl_num,students_hisp_num,students_white_num,students_black_num
0,1902,105.5,1,15.4,7.8,54.4,4,7.3,0,48.4,4,0,576,192,42,479,27
1,1903,179.6,2,14.9,9.4,100.3,11,11,0,84,19,0,1267,673,137,1011,67
2,1904,121,2,13.7,6.4,58.1,15.1,26,0,42,17,0,846,446,82,648,76
3,1906,64.2,0.3,11.9,6.6,34.5,2.5,7.2,0,35.3,0,0,377,172,51,286,28
4,1907,481,23.1,11.2,6.3,270.3,58.9,21.8,5.3,225.8,32.4,0,3453,2587,1382,974,949

# Scores - dscores
data from: https://tea.texas.gov/student.assessment/staar/aggregate/
labels from: https://tea.texas.gov/student.assessment/staar/variables/

In [6]:
subject_list = ['3rd', '4th', '5th', '6th', '7th', '8th',
                'Algebra', 'Biology', 'EnglishI', 'EnglishII', 'USHistory']
year_list = ['yr1112', 'yr1213', 'yr1314', 'yr1415', 'yr1516', 'yr1617']

In [7]:
dscores = cleaning.clean_scores('yr1617', 'Algebra')

There are  1121 districts in  dataset.
There are 0  duplicate indices.

In [8]:
dscores_3rd = cleaning.clean_scores('yr1314', '3rd')
dscores_3rd.head()

There are  1180 districts in  dataset.
There are 0  duplicate indices.

          r_3rd_avescore  r_3rd_numtakers  m_3rd_avescore  m_3rd_numtakers
district
1902              1480.0               36              36           1549.0
1903              1435.0               81              82           1442.0
1904              1452.0               56              56           1421.0
1906              1447.0               31              31           1432.0
1907              1387.0              216             227           1441.0

# Merge

In [9]:
#descriptives = ddem.merge(dref, how = 'inner')
#print("There is perfect overlap between ddem and dref. New dataset contains ", len(descriptives), " districts.")

In [10]:
#descriptives = descriptives.merge(dscores, how = 'outer', indicator = True)
#print(len(descriptives))

In [11]:
#descriptives.distname[descriptives._merge == 'left_only']