# One hot save and clean

In [9]:
import pandas as pd
import csv
import os


from start import data_path

In [10]:
laws_df = pd.read_csv(os.path.join(data_path, 'doi_exemptions_list.csv'))
dates_df = pd.read_csv(os.path.join(data_path, 'doi_dates.csv'))
doi_df = laws_df.merge(dates_df, left_on = 'title', right_on = 'title', how = 'left')
print(len(laws_df))
print(len(dates_df))
print(len(doi_df))
doi_df.sample(5)

824
824
824

,title,Unnamed: 0_x,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,level,type,link,text,p_innovation,possible_laws,Unnamed: 0_y,term_year,term_month,finalize_year,finalize_month
169,Comstock ISD,654.0,1119,1119,1119,1226,Second,pdf,https://s3.amazonaws.com/scschoolfiles/991/cis...,1 COMSTOCK INDEPENDENT SCHOOL DISTRICT DISTRIC...,0.999955,"[11.251, 45.206, 45.205, 21.002, 21.353, 21.00...",654,NaN,NaN,2017.0,February
687,Slidell ISD,136.0,360,360,360,360,First,pdf,http://www.slidellisd.net/Downloads/16-21%20Sl...,2 SLIDELL INDEPENDENT SCHOOL DISTRICT P.O. BOX...,0.999417,"[25.113, 25.082, 21.003, 25.0811, 25.112]",136,2016.0,NaN,2016.0,June
654,Saint Jo ISD,169.0,3434,3434,3434,3821,Second,pdf,http://www.saintjoisd.net/vimages/shared/vnews...,"206 West Evans St. / Drawer L Saint Jo, TX 762...",0.999842,"[25.113, 25.082, 21.003, 25.112, 25.0811]",169,2017.0,NaN,2017.0,April
189,Culberson County Allamoore ISD,634.0,52,52,52,52,First,google,https://drive.google.com/file/d/10_rWyuga8fj5k...,Culberson County Allamoore Independent School ...,0.999955,"[21.102, 21.401, 21.203, 21.352, 25.036, 21.00...",634,2018.0,August,2018.0,August
589,Pittsburg ISD,234.0,116,116,116,116,First,pdf,https://s3.amazonaws.com/scschoolfiles/957/dis...,Pittsburg ISD District of Innovation Plan 2017...,0.999955,"[25.113, 11.251, 25.036, 21.003, 21.002, 21.05...",234,2017.0,NaN,2017.0,March

In [11]:
doi_df.to_csv(os.path.join(data_path,'doi_exemptions_and_dates.csv'))

In [12]:
dates_df.sample(5)

,Unnamed: 0,title,term_year,term_month,finalize_year,finalize_month
401,401,Lake Worth ISD,2017.0,August,2017.0,May
424,424,Kennedale ISD,2017.0,July,NaN,NaN
808,808,Alvarado ISD,NaN,NaN,2017.0,April
366,366,Lorena ISD,2017.0,March,2017.0,March
333,333,Meadow ISD,2017.0,August,2017.0,June