In [1]:
import sys
sys.path.append("../")

import pandas as pd
import os
import statsmodels.formula.api as sm
import numpy as np

from library import regulations
from library import characteristics
from library import analysis
from library import tables

In [2]:
data_path = '/Users/kylieleblancKylie/domino/dofis/data/'
table_path = '/Users/kylieleblancKylie/domino/dofis/results/impact/'
data = pd.read_csv(os.path.join(data_path, 'clean', 'master_data.csv'),
                  sep=",")

/Users/kylieleblancKylie/anaconda/envs/spacy/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,8,416) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### Just keep eligible districts

In [3]:
data = data[(data.eligible == 1) & (data.year == 'yr1415')]

In [4]:
#TODO is -999 missing or NA? Worth differentiating?
data.date_year.value_counts()

 2017.0    399
 2016.0    118
-999.0     116
 2018.0     95
 2015.0     14
 2023.0      2
 2823.0      1
 3662.0      1
 2243.0      1
 2019.0      1
 2501.0      1
 4030.0      1
 2020.0      1
 2225.0      1
Name: date_year, dtype: int64

In [5]:
post_years = [2014, 2015, 2016, 2017, 2018]
for yr in post_years:
    num_dois = len(data[(data.doi == True) & (data.date_year == yr)])
    print('In ' + str(yr) + ', '  + str(num_dois), 'are DOIs and ')

In 2014, 0 are DOIs and
In 2015, 14 are DOIs and
In 2016, 118 are DOIs and
In 2017, 399 are DOIs and
In 2018, 95 are DOIs and

# TPS v. Early early adopters

In [6]:
tps = data[(data.doi == False) | (data.date_year == 2015)]
len(tps)

235

In [7]:
# Traditional public schools versus DOI
district_15 = analysis.many_y_one_x(data = tps, 
                                 y_list = characteristics.geography,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
district_15

  Characteristic  Control  Difference  Std. Error  P-value
0          Urban     0.06        0.08        0.07     0.21
1       Suburban     0.25       -0.04        0.12     0.74
2           Town     0.23        0.13        0.12     0.26
3          Rural     0.46       -0.18        0.14     0.20

In [8]:
teacher_15 = analysis.many_y_one_x(data = data, 
                                 y_list = characteristics.teacher,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
teacher_15

             Characteristic  Control  Difference  Std. Error  P-value
0  Ave. Experience Teaching     7.32        0.07        0.15     0.66
1    Teacher Turnover Ratio     0.20       -0.01        0.01     0.22
2     Student-Teacher Ratio     6.42        0.28        0.09     0.00

In [9]:
student_15 = analysis.many_y_one_x(data = data, 
                                 y_list = characteristics.student,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
student_15

                     Characteristic  Control  Difference  Std. Error  P-value
0                  Percent Hispanic     0.50       -0.16        0.02     0.00
1                     Percent White     0.42        0.13        0.02     0.00
2                     Percent Black     0.05        0.02        0.01     0.03
3       Percent Econ. Disadvantaged     0.62       -0.07        0.01     0.00
4  Average STAAR Performance (Std.)    -0.11        0.27        0.05     0.00

# Add 2016-17 adopters

In [10]:
doi_16 = data[(data.doi == False) | (data.date_year == 2016)]
len(doi_16)

339

In [11]:
district_16 = analysis.many_y_one_x(data = doi_16, 
                                 y_list = characteristics.geography,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
district_16

  Characteristic  Control  Difference  Std. Error  P-value
0          Urban     0.06        0.01        0.03     0.74
1       Suburban     0.25        0.05        0.05     0.31
2           Town     0.23        0.05        0.05     0.28
3          Rural     0.46       -0.11        0.06     0.04

In [12]:
teacher_16 = analysis.many_y_one_x(data = doi_16, 
                                 y_list = characteristics.teacher,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
teacher_16

             Characteristic  Control  Difference  Std. Error  P-value
0  Ave. Experience Teaching     7.32        0.02        0.24     0.94
1    Teacher Turnover Ratio     0.20       -0.01        0.01     0.25
2     Student-Teacher Ratio     6.42        0.38        0.15     0.01

In [13]:
student_16 = analysis.many_y_one_x(data = doi_16, 
                                 y_list = characteristics.student,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
student_16

                     Characteristic  Control  Difference  Std. Error  P-value
0                  Percent Hispanic     0.50       -0.12        0.03     0.00
1                     Percent White     0.42        0.09        0.03     0.01
2                     Percent Black     0.05        0.02        0.01     0.07
3       Percent Econ. Disadvantaged     0.62       -0.06        0.02     0.00
4  Average STAAR Performance (Std.)    -0.11        0.27        0.08     0.00

# 2017-18 Schools

In [14]:
doi_17 = data[(data.doi == False) | (data.date_year == 2017)]
len(doi_17)

620

In [15]:
# Traditional public schools versus DOI
district_17 = analysis.many_y_one_x(data = doi_17, 
                                 y_list = characteristics.geography,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
district_17

  Characteristic  Control  Difference  Std. Error  P-value
0          Urban     0.06       -0.02        0.02     0.29
1       Suburban     0.25       -0.01        0.04     0.78
2           Town     0.23        0.08        0.04     0.04
3          Rural     0.46       -0.05        0.04     0.25

In [16]:
teacher_17 = analysis.many_y_one_x(data = doi_17, 
                                 y_list = characteristics.teacher,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
teacher_17

             Characteristic  Control  Difference  Std. Error  P-value
0  Ave. Experience Teaching     7.32        0.08        0.17     0.64
1    Teacher Turnover Ratio     0.20       -0.01        0.01     0.24
2     Student-Teacher Ratio     6.42        0.28        0.10     0.01

In [17]:
student_17 = analysis.many_y_one_x(data = doi_17, 
                                 y_list = characteristics.student,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
student_17

                     Characteristic  Control  Difference  Std. Error  P-value
0                  Percent Hispanic     0.50       -0.15        0.02     0.00
1                     Percent White     0.42        0.12        0.02     0.00
2                     Percent Black     0.05        0.02        0.01     0.05
3       Percent Econ. Disadvantaged     0.62       -0.07        0.02     0.00
4  Average STAAR Performance (Std.)    -0.11        0.27        0.06     0.00

# 2018-19 Schools

In [18]:
doi_18 = data[(data.doi == False) | (data.date_year == 2018)]
len(doi_18)

316

In [19]:
# Traditional public schools versus DOI
district_18 = analysis.many_y_one_x(data = doi_18, 
                                 y_list = characteristics.geography,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
district_18

  Characteristic  Control  Difference  Std. Error  P-value
0          Urban     0.06        0.00        0.03     0.88
1       Suburban     0.25        0.01        0.05     0.86
2           Town     0.23        0.04        0.05     0.48
3          Rural     0.46       -0.05        0.06     0.40

In [20]:
teacher_18 = analysis.many_y_one_x(data = doi_18, 
                                 y_list = characteristics.teacher,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
teacher_18

             Characteristic  Control  Difference  Std. Error  P-value
0  Ave. Experience Teaching     7.32       -0.04        0.27     0.87
1    Teacher Turnover Ratio     0.20        0.01        0.01     0.66
2     Student-Teacher Ratio     6.42        0.41        0.15     0.01

In [21]:
student_18 = analysis.many_y_one_x(data = doi_18, 
                                 y_list = characteristics.student,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
student_18

                     Characteristic  Control  Difference  Std. Error  P-value
0                  Percent Hispanic     0.50       -0.16        0.04     0.00
1                     Percent White     0.42        0.13        0.04     0.00
2                     Percent Black     0.05        0.01        0.01     0.19
3       Percent Econ. Disadvantaged     0.62       -0.07        0.02     0.00
4  Average STAAR Performance (Std.)    -0.11        0.20        0.08     0.02

# To Table

In [26]:
rows = [6, 15, 22]

In [27]:
dfs = [district_15, teacher_15, student_15]
tables.n_to_excel(file = table_path + 'balance_by_adoption_year.xlsx',
                 col = 2, row = 4, n = len(tps[tps.doi == 0]))
tables.n_to_excel(file = table_path + 'balance_by_adoption_year.xlsx',
                 col = 3, row = 4, n = len(tps[tps.doi == 1]))
for df, row in zip(dfs,rows):
    tables.var_diff_to_excel(file = table_path + 'balance_by_adoption_year.xlsx', 
                             df = df, 
                             control_col = 'Control', 
                             diff_col = 'Difference', 
                             se_col = 'Std. Error', pvalue_col = 'P-value',
                             start_col = 2, start_row = row)

In [28]:
dfs = [district_16, teacher_16, student_16]
tables.n_to_excel(file = table_path + 'balance_by_adoption_year.xlsx',
                 col = 4, row = 4, n = len(doi_16[doi_16.doi == 1]))
for df, row in zip(dfs,rows):
    tables.var_diff_to_excel(file = table_path + 'balance_by_adoption_year.xlsx', 
                             df = df, 
                             control_col = 'Control', 
                             diff_col = 'Difference', 
                             se_col = 'Std. Error', pvalue_col = 'P-value',
                             start_col = 2, start_row = row,
                             change_diff_col = 4)

In [29]:
dfs = [district_17, teacher_17, student_17]
tables.n_to_excel(file = table_path + 'balance_by_adoption_year.xlsx',
                 col = 5, row = 4, n = len(doi_17[doi_17.doi == 1]))
for df, row in zip(dfs,rows):
    tables.var_diff_to_excel(file = table_path + 'balance_by_adoption_year.xlsx', 
                             df = df, 
                             control_col = 'Control', 
                             diff_col = 'Difference', 
                             se_col = 'Std. Error', pvalue_col = 'P-value',
                             start_col = 2, start_row = row,
                             change_diff_col = 5)

In [30]:
dfs = [district_18, teacher_18, student_18]
tables.n_to_excel(file = table_path + 'balance_by_adoption_year.xlsx',
                 col = 6, row = 4, n = len(doi_18[doi_18.doi == 1]))
for df, row in zip(dfs,rows):
    tables.var_diff_to_excel(file = table_path + 'balance_by_adoption_year.xlsx', 
                             df = df, 
                             control_col = 'Control', 
                             diff_col = 'Difference', 
                             se_col = 'Std. Error', pvalue_col = 'P-value',
                             start_col = 2, start_row = row,
                             change_diff_col = 6)

In [31]:
tps = data[(data.doi == False)]

In [35]:
tps.type_urban.mean()

0.058823529411764705

In [39]:
round(tps.type_urban.std(), 2)

0.24