In [1]:
import sys
sys.path.append("../")

import pandas as pd
import os
import statsmodels.formula.api as sm

from library import regulations
from library import characteristics
from library import analysis
from library import tables

In [35]:
data_path = '/Users/kylieleblancKylie/domino/dofis/data/'
table_path = '/Users/kylieleblancKylie/domino/dofis/results/impact/'
data = pd.read_csv(os.path.join(data_path, 'clean', 'cits.csv'),
                  sep=",", low_memory = False)
data = data[data.year == 2016]
print(len(data))
#data = data[(pd.notnull(data.doi_year))]
print(len(data[data.eligible== True]))
print(len(data[data.distischarter == 'Y']))
print(len(data[data.doi == True]))
print(len(data[(data.doi == False) & (data.eligible == True)]))

842
842
0
645
197

## District Characteristics

In [36]:
# Traditional public schools versus DOI
district = analysis.many_y_one_x(data = data, 
                                 y_list = characteristics.geography,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
district

  Characteristic  Control  Difference  Std. Error  P-value
0          Urban     0.07       -0.01        0.02     0.48
1       Suburban     0.28       -0.03        0.04     0.36
2           Town     0.23        0.05        0.04     0.15
3          Rural     0.42       -0.01        0.04     0.88

## Teacher Characteristics

In [37]:
teacher = analysis.many_y_one_x(data = data, 
                                 y_list = characteristics.teacher,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
teacher

             Characteristic  Control  Difference  Std. Error  P-value
0  Ave. Experience Teaching     7.36       -0.10        0.15     0.50
1    Teacher Turnover Ratio     0.19       -0.01        0.01     0.31
2     Student-Teacher Ratio     6.49        0.24        0.09     0.01

## Student Characteristics

In [38]:
student = analysis.many_y_one_x(data = data, 
                                 y_list = characteristics.student,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
student

                     Characteristic  Control  Difference  Std. Error  P-value
0                  Percent Hispanic     0.50       -0.15        0.02     0.00
1                     Percent White     0.42        0.12        0.02     0.00
2                     Percent Black     0.05        0.02        0.01     0.01
3       Percent Econ. Disadvantaged     0.61       -0.07        0.01     0.00
4  Average STAAR Performance (Std.)     0.21        0.22        0.06     0.00


## To table

In [39]:
dfs = [district, teacher, student]
rows = [6, 15, 24]
tables.n_to_excel(file = table_path + 'balance_tpsVdoi.xlsx',
                 col = 2, row = 4, n = len(data[data.doi == 0]))
tables.n_to_excel(file = table_path + 'balance_tpsVdoi.xlsx',
                 col = 3, row = 4, n = len(data[data.doi == 1]))
for df, row in zip(dfs,rows):
    tables.var_diff_to_excel(file = table_path + 'balance_tpsVdoi.xlsx', 
                             df = df, 
                             control_col = 'Control', 
                             diff_col = 'Difference', 
                             se_col = 'Std. Error', pvalue_col = 'P-value',
                             start_col = 2, start_row = row)