In [1]:
import sys
sys.path.append("../")

import pandas as pd
import os
import statsmodels.formula.api as sm
import numpy as np

from library import regulations
from library import characteristics
from library import analysis
from library import tables

In [2]:
data_path = '/Users/kylieleblancKylie/domino/dofis/data/'
table_path = '/Users/kylieleblancKylie/domino/dofis/results/impact/'
data = pd.read_csv(os.path.join(data_path, 'clean', 'cits.csv'),
                  sep=",")
data = data[data.year == 2016]

/Users/kylieleblancKylie/anaconda/envs/spacy/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#TODO is -999 missing or NA? Worth differentiating?
data.doi_year.value_counts().sort_index()

2016.0     52
2017.0    499
2018.0     93
2019.0      1
Name: doi_year, dtype: int64

# TPS v. Early early adopters

In [4]:
tps = data[(data.doi == False) | (data.doi_year == 2016)]
len(tps)

249

In [5]:
district_16 = analysis.many_y_one_x(data = tps, 
                                 y_list = characteristics.geography,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
district_16

  Characteristic  Control  Difference  Std. Error  P-value
0          Urban     0.07        0.07        0.04     0.11
1       Suburban     0.28        0.05        0.07     0.50
2           Town     0.23       -0.02        0.07     0.74
3          Rural     0.42       -0.09        0.08     0.22

In [6]:
teacher_16 = analysis.many_y_one_x(data = tps, 
                                 y_list = characteristics.teacher,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
teacher_16

             Characteristic  Control  Difference  Std. Error  P-value
0  Ave. Experience Teaching     7.36       -0.07        0.31     0.82
1    Teacher Turnover Ratio     0.19       -0.02        0.01     0.30
2     Student-Teacher Ratio     6.49        0.46        0.19     0.01

In [7]:
student_16 = analysis.many_y_one_x(data = tps, 
                                 y_list = characteristics.student,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
student_16

                     Characteristic  Control  Difference  Std. Error  P-value
0                  Percent Hispanic     0.50       -0.06        0.05     0.23
1                     Percent White     0.42        0.01        0.05     0.76
2                     Percent Black     0.05        0.02        0.01     0.13
3       Percent Econ. Disadvantaged     0.61       -0.05        0.03     0.11
4  Average STAAR Performance (Std.)     0.21        0.26        0.11     0.03

# Add 2017-18 adopters

In [8]:
doi_17 = data[(data.doi == False) | (data.doi_year == 2017)]
len(doi_17)

696

In [9]:
district_17 = analysis.many_y_one_x(data = doi_17, 
                                 y_list = characteristics.geography,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
district_17

  Characteristic  Control  Difference  Std. Error  P-value
0          Urban     0.07       -0.03        0.02     0.15
1       Suburban     0.28       -0.04        0.04     0.26
2           Town     0.23        0.06        0.04     0.14
3          Rural     0.42        0.01        0.04     0.78

In [10]:
teacher_17 = analysis.many_y_one_x(data = doi_17, 
                                 y_list = characteristics.teacher,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
teacher_17

             Characteristic  Control  Difference  Std. Error  P-value
0  Ave. Experience Teaching     7.36       -0.10        0.16     0.51
1    Teacher Turnover Ratio     0.19       -0.01        0.01     0.36
2     Student-Teacher Ratio     6.49        0.19        0.10     0.05

In [11]:
student_17 = analysis.many_y_one_x(data = doi_17, 
                                 y_list = characteristics.student,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
student_17

                     Characteristic  Control  Difference  Std. Error  P-value
0                  Percent Hispanic     0.50       -0.16        0.02     0.00
1                     Percent White     0.42        0.13        0.02     0.00
2                     Percent Black     0.05        0.02        0.01     0.02
3       Percent Econ. Disadvantaged     0.61       -0.07        0.02     0.00
4  Average STAAR Performance (Std.)     0.21        0.22        0.06     0.00

# 2018-19 Schools

In [12]:
doi_18 = data[(data.doi == False) | (data.doi_year == 2018)]
len(doi_18)

290

In [13]:
# Traditional public schools versus DOI
district_18 = analysis.many_y_one_x(data = doi_18, 
                                 y_list = characteristics.geography,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
district_18

  Characteristic  Control  Difference  Std. Error  P-value
0          Urban     0.07        0.01        0.03     0.77
1       Suburban     0.28       -0.04        0.06     0.44
2           Town     0.23        0.08        0.06     0.16
3          Rural     0.42       -0.04        0.06     0.47

In [14]:
teacher_18 = analysis.many_y_one_x(data = doi_18, 
                                 y_list = characteristics.teacher,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
teacher_18

             Characteristic  Control  Difference  Std. Error  P-value
0  Ave. Experience Teaching     7.36       -0.12        0.25     0.62
1    Teacher Turnover Ratio     0.19       -0.00        0.01     0.77
2     Student-Teacher Ratio     6.49        0.35        0.15     0.02

In [15]:
student_18 = analysis.many_y_one_x(data = doi_18, 
                                 y_list = characteristics.student,
                                 y_labels = characteristics.labels,
                                 x = 'doi')
student_18

                     Characteristic  Control  Difference  Std. Error  P-value
0                  Percent Hispanic     0.50       -0.13        0.04     0.00
1                     Percent White     0.42        0.10        0.04     0.01
2                     Percent Black     0.05        0.02        0.01     0.06
3       Percent Econ. Disadvantaged     0.61       -0.06        0.02     0.01
4  Average STAAR Performance (Std.)     0.21        0.17        0.08     0.04

# To Table

In [16]:
rows = [6, 15, 22]

In [17]:
dfs = [district_16, teacher_16, student_16]
tables.n_to_excel(file = table_path + 'balance_by_adoption_year.xlsx',
                 col = 2, row = 4, n = len(tps[tps.doi == 0]))
tables.n_to_excel(file = table_path + 'balance_by_adoption_year.xlsx',
                 col = 3, row = 4, n = len(tps[tps.doi == 1]))
for df, row in zip(dfs,rows):
    tables.var_diff_to_excel(file = table_path + 'balance_by_adoption_year.xlsx', 
                             df = df, 
                             control_col = 'Control', 
                             diff_col = 'Difference', 
                             se_col = 'Std. Error', pvalue_col = 'P-value',
                             start_col = 2, start_row = row)

In [18]:
dfs = [district_17, teacher_17, student_17]
tables.n_to_excel(file = table_path + 'balance_by_adoption_year.xlsx',
                 col = 4, row = 4, n = len(doi_17[doi_17.doi == 1]))
for df, row in zip(dfs,rows):
    tables.var_diff_to_excel(file = table_path + 'balance_by_adoption_year.xlsx', 
                             df = df, 
                             control_col = 'Control', 
                             diff_col = 'Difference', 
                             se_col = 'Std. Error', pvalue_col = 'P-value',
                             start_col = 2, start_row = row,
                             change_diff_col = 4)

In [19]:
dfs = [district_18, teacher_18, student_18]
tables.n_to_excel(file = table_path + 'balance_by_adoption_year.xlsx',
                 col = 5, row = 4, n = len(doi_18[doi_18.doi == 1]))
for df, row in zip(dfs,rows):
    tables.var_diff_to_excel(file = table_path + 'balance_by_adoption_year.xlsx', 
                             df = df, 
                             control_col = 'Control', 
                             diff_col = 'Difference', 
                             se_col = 'Std. Error', pvalue_col = 'P-value',
                             start_col = 2, start_row = row,
                             change_diff_col = 5)